@model Netotik.Domain.Entity.ProductComment
@{
    ViewBag.Title = "نظر: " + Model.Name;

    List<Netotik.Domain.Entity.ProductComment> Commentlist = ViewBag.Comments as List<Netotik.Domain.Entity.ProductComment>;
}

<div class="col-lg-12" id="ContentPage">

    <section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue ">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#profile"><i class="icon-2x icon-user"></i> پیام</a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#comments"><i class="icon-2x icon-comments-alt"></i>نظرات</a>
                </li>
            </ul>
        </header>
        <div class="panel-body">
            <div class="tab-content">
                <div id="profile" class="tab-pane active form-horizontal">
                    @if (!Model.UserId.HasValue)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-5">
                                <input type="text" class="form-control" value="@(Model.Name) (کاربر مهمان)" />
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> نام</label>
                            <a href="@Url.Action(MVC.Admin.User.ActionNames.Detail, MVC.Admin.User.Name, routeValues: new { Id = Model.UserId })">@Model.User.FirstName @Model.User.LastName </a>
                        </div>
                    }

                    @Html.DisplayFor(model => model.Email)
                    @Html.DisplayFor(model => model.CommentText,"multiline")
                </div>
                <div id="comments" class="tab-pane form-horizontal">
                    @if (Commentlist.Any())
                    {
                        <table>

                            @foreach (var item in Commentlist)
                            {
                                <tr>
                                    <td>
                                        @if (item.Id != Model.Id)
                                        { <button data-url="@Url.Action(MVC.Admin.Comments.ActionNames.Detail, new { id = item.Id })" class="btn btn-white btn-xs ajax-button"><i class="icon-search"></i></button>}
                                        @PersianDate.ConvertDate.ToFa(item.CreateDate, "F")
                                        |
                                        @(item.UserId.HasValue ? item.Name + " " + item.User.LastName : item.Name)
                                        |
                                        @if (item.Status == Netotik.ViewModels.CommentStatus.Accepted)
                                        {
                                            <label class="badge bg-info">تایید شده</label>
                                        }
                                        else
                                        {
                                            <label class="badge bg-primary">در انتظار تایید</label>
                                        }
                                        |
                                        @item.CommentText
                                    </td>
                                </tr>
                            }

                        </table>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        $('.ajax-button').click(function () {
            dimOn();
            $.ajax({
                cache: false,
                type: "get",
                url: $(this).attr('data-url'),
                success: function (data) {
                    $('#ContentPage').html(data);
                    dimOff();
                    ckInit();
                },
                error: function (xhr, ajaxoptions, thrownerror) {
                    alert('error..');
                    dimOff();
                }
            });

        })
    });
</script>