@using Netotik.ViewModels.Identity.Security
@using MvcPaging
@model IPagedList<Netotik.ViewModels.Shop.ProductAdmin.TableProductModel>

@{
    var roles = Html.CurrentUserPermissions();

    var canDelete = roles.Any(x => x == AssignableToRolePermissions.CanDeleteProduct);
    var canEdit = roles.Any(x => x == AssignableToRolePermissions.CanEditProduct);
    var canManageImages = roles.Any(x => x == AssignableToRolePermissions.CanManagePictureProduct);
    var canManageAttributes = roles.Any(x => x == AssignableToRolePermissions.CanManageAttributeProduct);

    int index = Model.ItemStart;

    Layout = null;
    string querySearch = "";


    if (Request["Search"] != null)
    {
        querySearch = Request["Search"].ToString();
    }
}

<div id="gridlist">
    @if (!Model.Any())
    {
        <div class="gradeX odd">
            هیچ محصولی در سیستم موجود نیست..
        </div>
    }
    else
    {


        <table class="table table-striped border-top dataTable">
            <thead class="alert-info">
                <tr role="row">
                    <th role="columnheader" rowspan="1" colspan="1">#</th>
                    <th role="columnheader" rowspan="1" colspan="1">@Netotik.Resources.Captions.Title</th>
                    <th role="columnheader" rowspan="1" colspan="1">@Netotik.Resources.Captions.Subject</th>
                    <th role="columnheader" rowspan="1" colspan="1">@Netotik.Resources.Captions.PriceProduct </th>
                    <th role="columnheader" rowspan="1" colspan="1">وضعیت</th>
                    <th role="columnheader" rowspan="1" colspan="1"></th>
                </tr>
            </thead>

            <tbody role="alert">
                @foreach (var item in Model)
                {
                    <tr class="gradeX odd">
                        <td> @(index++) </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(item.imgName))
                            {
                                <img src="@Url.Content(Path.Combine(Netotik.Common.Controller.FilePathes._imagesShopProductPath,item.imgName))?w=60&h=70" width="60" height="70" />
                            }
                        </td>
                        <td class="">@item.Name</td>
                        <td class="">@item.Price.ToString("#.##")</td>
                        <td class=""><i class="icon-eye-open"></i>@item.ViewCount | <i class="icon-comments-alt"></i>@item.CommentCount | <i class="icon-list-alt"></i>@item.PictureCount</td>
                        <td>
                            <a href="@Url.Action(MVC.Admin.ShopProduct.ActionNames.Detail, new { id = item.Id })" class="btn btn-white btn-xs"><i class="icon-search"></i></a>

                            @if (canEdit)
                            {
                                <a href="@Url.Action(MVC.Admin.ShopProduct.ActionNames.Edit, new { id = item.Id })" class="btn btn-primary btn-xs "><i class="icon-pencil"></i></a>
                            }
                            @if (canDelete)
                            {
                                <form action="@Url.Action(MVC.Admin.ShopProduct.ActionNames.Remove)" style="float:right" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button class="btn btn-danger btn-xs"><i class="icon-trash"></i></button>
                                </form>
                            }
                            @if (canManageImages)
                            {
                                <a href="@Url.Action(MVC.Admin.ShopProduct.ActionNames.Pictures, new { id = item.Id})" class="btn btn-primary btn-xs"><i class="icon-file-text-alt"></i> &nbsp; تصاویر ها</a>
                            }
                            @if (canManageAttributes)
                            {
                                <a href="@Url.Action(MVC.Admin.ShopProduct.ActionNames.ProductAttribute, new { id = item.Id})" class="btn btn-primary btn-xs"><i class="icon-flickr"></i> &nbsp; مشخصات</a>
                            }
                        </td>

                    </tr>
                }


            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="padding:0;" class="pager">
                        @Html.Raw(Ajax.Pager(new Options { PageSize = Model.PageSize, TotalItemCount = Model.TotalItemCount, CurrentPage = Model.PageNumber, ItemTexts = new ItemTexts() { Next = "", Previous = "", Page = "" }, ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-right", Next = "icon-chevron-left", Last = "icon-forward" }, TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." }, Size = Size.normal, Alignment = Alignment.centered, IsShowControls = false, IsShowFirstLast = false, CssClass = "pagination pagination-sm" }, new AjaxOptions { UpdateTargetId = "gridlist", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, new { controller = MVC.Admin.ShopProduct.Name, action = MVC.Admin.ShopProduct.ActionNames.Index, search = querySearch }))
                    </td>
                </tr>
            </tfoot>
        </table>
    }
</div>
