@using MvcPaging
@using Netotik.Common.Extensions
@model IPagedList<Netotik.ViewModels.Identity.UserReseller.TableResellerModel>

@{
    Layout = null;
    string querySearch = "";


    if (Request["Search"] != null)
    {
        querySearch = Request["Search"].ToString();
    }
}

<div id="gridlist">
    <table class="table table-striped border-top dataTable">
        <thead class="alert-info">
            <tr role="row">
                <th role="columnheader" rowspan="1" colspan="1">نام</th>
                <th class="hidden-phone" role="columnheader" rowspan="1" colspan="1">نام کاربری</th>
                <th class="hidden-phone" role="columnheader" rowspan="1" colspan="1">تعداد کاربر</th>
                <th class="hidden-phone" role="columnheader" rowspan="1" colspan="1">تعداد بسته ها</th>
                <th class="hidden-phone" role="columnheader" rowspan="1" colspan="1">وضعیت</th>
                <th class="hidden-phone" role="columnheader" rowspan="1" colspan="1"></th>
            </tr>
        </thead>

        <tbody role="alert">
            @foreach (var item in Model)
            {
                <tr class="gradeX odd">
                    <td class="">@item.Name</td>
                    <td class="">@item.Username</td>
                    <td class="hidden-phone">@item.UserCount</td>
                    <td class="hidden-phone">@item.PackageCount</td>
                    <td class="hidden-phone ">
                        @if (item.IsActive)
                        {
                            <span class="label label-success">فعال</span>
                        }
                        else
                        {
                            <span class="label label-danger">مسدود</span>

                        }
                    </td>

                    <td>
                        <a href="@Url.Action(MVC.Admin.Reseller.ActionNames.Edit, new { id=item.Id})" class="btn btn-primary btn-xs "><i class="fa fa-pencil"></i></a>
                        <a href="@Url.Action(MVC.Admin.Reseller.ActionNames.ChangePassword, new { id = item.Id })" class="btn btn-default btn-xs "><i class="fa fa-lock"></i></a>
                        <a href="@Url.Action(MVC.Admin.Reseller.ActionNames.Detail, new { id = item.Id })" class="btn btn-white btn-xs "><i class="fa fa-book"></i></a>
                        <a>
                            @if (item.IsActive)
                            {
                                <form action="@Url.Action(MVC.Admin.Reseller.ActionNames.Disable)" style="float:right" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button class="btn btn-danger btn-xs"><i class="fa fa-lock"></i></button>
                                </form>
                            }
                            else
                            {
                                <form action="@Url.Action(MVC.Admin.Reseller.ActionNames.Enable)" style="float:right" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button class="btn btn-success btn-xs"><i class="fa fa-unlock"></i></button>
                                </form>
                            }
                        </a>
                    </td>

                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" style="padding:0;" class="pager">
                    @Html.Raw(Ajax.Pager(new Options { PageSize = Model.PageSize, TotalItemCount = Model.TotalItemCount, CurrentPage = Model.PageNumber, ItemTexts = new ItemTexts() { Next = "", Previous = "", Page = "" }, ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-right", Next = "icon-chevron-left", Last = "icon-forward" }, TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." }, Size = Size.normal, Alignment = Alignment.centered, IsShowControls = false, IsShowFirstLast = false, CssClass = "pagination pagination-sm" }, new AjaxOptions { UpdateTargetId = "gridlist", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, new { controller = MVC.Admin.Reseller.Name , action = MVC.Admin.Reseller.ActionNames.Index, search = querySearch }))
                </td>
            </tr>
        </tfoot>
    </table>
</div>
