@model MvcPaging.IPagedList<Netotik.ViewModels.Identity.UserReseller.TableResellerModel>
@{
    ViewBag.Title = "مدیریت شرکت ها";
}

<div class="col-lg-12" id="ContentPage">
    <section class="panel">
        <header class="panel-heading">
            @ViewBag.Title

            @Html.ActionLink("شرکت جدید", MVC.Admin.Reseller.ActionNames.Create, MVC.Admin.Reseller.Name,null, new { @class = "btn btn-primary pull-left" })

        </header>
        <div class="panel-body">
            <form class="form-inline" role="form" action="@Url.Action(MVC.Admin.User.ActionNames.Index,MVC.Admin.Reseller.Name)">
                <div class="input-group m-bot15">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">جستجو</button>
                    </span>
                    <input type="text" class="form-control" name="Search" placeholder="نام ، شماره تماس، ایمیل و ..">
                </div>
            </form>

        </div>

        @Html.Partial("_Table", Model)

    </section>
    @section DownScript{
        @Scripts.Render("~/bundles/jqueryval")
        
    }

    <script type="text/javascript">

        function beginPaging(args) {
            // Animate
            $('#gridlist').fadeOut('normal');
        }

        function successPaging() {
            // Animate
            $('#gridlist').fadeIn('normal');
        }

        function failurePaging() {
            alert("Could not retrieve list.");
        }


    </script>



</div>


