@model Netotik.ViewModels.Identity.UserReseller.ChangePasswordModel
@{
    ViewBag.Title = Netotik.Resources.Captions.ChangePassword;
}


<div class="col-md-6 offset-md-3 col-xs-10 box-shadow-2 p-0">
    <div class="card border-grey border-lighten-3 m-0">
        <div class="card-body collapse in">
            <div class="card-block">
                @using (Html.BeginForm(MVC.Reseller.Home.ActionNames.ChangePassword, MVC.Reseller.Home.Name, null, FormMethod.Post, htmlAttributes: new { @class = "cmxform form-horizontal tasi-form", id = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback has-icon-left">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = Netotik.Resources.Captions.OldPassword })
                                    <div class="form-control-position">
                                        <i class="icon-key2"></i>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.OldPassword, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback has-icon-left">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Netotik.Resources.Captions.Password })
                                    <div class="form-control-position">
                                        <i class="icon-key2"></i>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Password, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback has-icon-left">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Netotik.Resources.Captions.ConfirmPassword })
                                    <div class="form-control-position">
                                        <i class="icon-key2"></i>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">
                            <i class="icon-key4"></i>  @Netotik.Resources.Captions.Save
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




