
@model CaptchaMvc.Models.MathBuildInfoModel


@{
    
    
    var id = Guid.NewGuid().ToString("N");
    var functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
    <script type="text/javascript">

        $(function () {
            $('#@id').prop('disabled', false);
        });

        function @functionName{
            $('#@id').prop('disabled', true);
            $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() }, function () {
                $('#@id').prop('disabled', false);
            });
            return false;
        }
    </script>

}
<div class="form-group">
    <div class="col-md-12">
        

        <div class="col-md-6" dir="rtl">
            <a href="javascript:void(0)" id="@id" onclick="@functionName" class="btn">
                <i class="fa fa-refresh"></i>
            </a>

            <img id="@Model.ImageElementId" src="@Model.ImageUrl" alt="تصویر امنیتی" width="120" height="85" />
            @Html.Hidden(Model.TokenElementId, Model.TokenValue)
            
        </div>
        
        <div class="col-md-4" dir="rtl">
            @Html.TextBox(Model.InputElementId, null, new Dictionary<string, object>() { { "data-val", "true" }, { "data-val-required", "لطفا پاسخ تصویر را وارد کنید" }, { "class", "form-control " }, { "autocomplete", "off" }, { "dir", "ltr" } })
            @Html.ValidationMessage(Model.InputElementId, new { @class = "text-danger" })
        </div>
    </div>
</div>