@model List<Netotik.Domain.Entity.Menu>
@{
    Layout = null;
}
<!-- FOOTER -->
<footer id="footer">
    <div class="copyright">
        <div class="container">
            <ul class="list-inline pull-left inline-links mobile-block nomargin">
                <li><a href="@Url.Action(MVC.Home.Index())"> @Captions.HomeMenu </a></li>
                <li><a href="@Url.Action(MVC.Blog.IndexFirst())"> @Captions.Blog </a></li>
                <li><a href="@Url.Action(MVC.ContactUs.Index())"> @Captions.ContactUs</a></li>
            </ul>
            <span class="pull-right">
                @Captions.CopyRight
            </span>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
