@model List<Netotik.Domain.Entity.Menu>
@{
    Layout = null;
}
<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">

            @foreach (var item in Model.Where(x => !x.ParentId.HasValue))
            {
                <div class="col-md-3">
                    <h4 class="letter-spacing-1">@item.Text</h4>
                    @if (item.SubMenues.Any())
                    {
                        <ul class="footer-links list-unstyled">
                            @foreach (var sub in item.SubMenues.OrderBy(x => x.Order).ToList())
                            {
                                <li><a href="@sub.Url"> @sub.Text</a></li>
                            }
                        </ul>
                    }
                </div>
            }

            @*<div class="col-md-3">
                    <!-- Links -->
                    <h4 class="letter-spacing-1">وبلاگ نتوتیک</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#"> آخرین اخبار</a></li>
                        <li><a href="#"> آموزش شبکه</a></li>
                        <li><a href="#"> آموزش نتوتیک</a></li>
                        <li><a href="#"> جدیدترین های آی تی</a></li>
                        <li><a href="#"> نتوتیک در رسانه ها</a></li>
                    </ul>
                    <!-- /Links -->

                </div>

                <div class="col-md-3">

                    <!-- Links -->
                    <h4 class="letter-spacing-1">درباره نتوتیک</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#"> نتوتیک چیست؟ </a></li>
                        <li><a href="#"> سوالات متداول</a></li>
                        <li><a href="#"> شرایط استفاده از نتوتیک</a></li>
                        <li><a href="#"> امکانات و سرویس ها</a></li>
                        <li><a href="#"> تیم اجرایی نتوتیک</a></li>
                    </ul>
                    <!-- /Links -->

                </div>

                <div class="col-md-3">

                    <h4 class="letter-spacing-1">موارد استفاده از نتوتیک</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#"> شرکت های دارای شبکه داخلی</a></li>
                        <li><a href="#"> دانشگاه ها و موسسات آموزشی</a></li>
                        <li><a href="#"> مجتمع های مسکونی و خوابگاه ها</a></li>
                        <li><a href="#"> رستوران ها و استراحتگاه ها</a></li>
                        <li><a href="#"> سازمان های نظامی و امنیتی</a></li>
                    </ul>
                </div>*@

        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <ul class="list-inline pull-left inline-links mobile-block nomargin">
                <li><a href="@Url.Action(MVC.Home.Index())"> @Captions.HomeMenu </a></li>
                <li><a href="@Url.Action(MVC.Blog.IndexFirst())"> @Captions.Blog </a></li>
                <li><a href="@Url.Action(MVC.ContactUs.Index())"> @Captions.ContactUs</a></li>
            </ul>
            <span class="pull-right">
                @Captions.CopyRight
            </span>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
