@using Netotik.Common.Controller
@{
    var IsIr = CultureHelper.GetDefaultCulture() == CultureHelper.GetCurrentCulture() ? true : false;
    var user = Html.CurrentUser();
}
<!-- Top Bar -->
<div id="topBar">
    <div class="container">

        <!-- right -->
        <ul class="top-links list-inline">
            @if (user != null)
            {
                if (user.UserType == Netotik.Domain.Entity.UserType.UserAdmin)
                {
                    <li>
                        <a href="@Url.Action(MVC.Admin.Home.Index())">
                            <i class="fa fa-desktop"></i>
                            @Captions.AdminPanel
                        </a>
                    </li>
                }
                if (user.UserType == Netotik.Domain.Entity.UserType.UserReseller)
                {
                    <li>
                        <a href="@Url.Action(MVC.Reseller.Home.Index())">
                            <i class="fa fa-desktop"></i>
                            @Captions.ResellerPanel
                        </a>
                    </li>
                }
                if (user.UserType == Netotik.Domain.Entity.UserType.UserCompany)
                {
                    <li>
                        <a href="@Url.Action(MVC.Company.Home.Index())">
                            <i class="fa fa-desktop"></i>
                            @Captions.CompanyPanel
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action(MVC.Account.LogOff())">
                        <i class="fa fa-power-off"></i>
                        @Captions.Logout
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action(MVC.Login.Reseller())">
                        <i class="fa fa-laptop"></i>
                        @Captions.ResellerLogin
                    </a>
                </li>
            }
        </ul>

        <!-- left -->
        <ul class="top-links list-inline pull-right">

            <li>
                @Html.Action(MVC.Home.LanguageSelector())
            </li>

        </ul>

    </div>
</div>
<!-- /Top Bar -->
