@using Netotik.Common.Controller
@using Netotik.Domain.Entity

@{
    var IsIr = CultureHelper.GetDefaultCulture() == CultureHelper.GetCurrentCulture() ? true : false;
    var user = Html.CurrentUser();
    if (Session["Client"] != null)
    {
        user = Session["Client"] as User;
    }
}
<!-- Top Bar -->
<div id="topBar">
    <div class="container">
        <ul class="top-links list-inline">
            @if (user != null)
            {
                if (user.UserType == UserType.UserReseller)
                {
                    <li>
                        <a href="@Url.Action(MVC.Reseller.Home.Index())">
                            <i class="fa fa-desktop"></i>
                            @Captions.ResellerPanel
                        </a>
                    </li>
                }
                else if (user.UserType == UserType.UserRouter)
                {
                    <li>
                        <a href="@Url.Action(MVC.MyRouter.Home.Index())">
                            <i class="fa fa-desktop"></i>
                            @Captions.RouterPanel
                        </a>
                    </li>
                }
                else if (user.UserType == UserType.Client)
                {
                    <li>
                        <a href="@Url.Action(MVC.Client.Home.Index())">
                            <i class="fa fa-desktop"></i>
                            @Captions.UserPanel
                        </a>
                    </li>
                }

                if (user.UserType == UserType.Client)
                {
                    <li>
                        <a href="@Url.Action(MVC.Client.Home.LogOff())">
                            <i class="fa fa-power-off"></i>
                            @Captions.Logout
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action(MVC.Account.LogOff())">
                            <i class="fa fa-power-off"></i>
                            @Captions.Logout
                        </a>
                    </li>
                }
            }
            else
            {
                <li>
                    <a href="@Url.Action(MVC.Login.Reseller())">
                        <i class="fa fa-laptop"></i>
                        @Captions.ResellerLogin
                    </a>
                </li>
            }
        </ul>

        <!-- left -->
        <ul class="top-links list-inline pull-right">

            <li>
                @Html.Action(MVC.Home.LanguageSelector())
            </li>

        </ul>

    </div>
</div>
<!-- /Top Bar -->
