<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
@{
    var lang = Html.CurrentLanguage(ViewContext.HttpContext, ViewContext.RouteData.Values["lang"].ToString());
}
<html class="no-js" prefix="og:http://ogp.me/ns#" lang="@lang.LanguageCulture" dir="@(lang.Rtl?"rtl":"ltr")">

<head>
    @RenderSection("Meta", false)

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Images/Logo/faveicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Images/Logo/faveicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Images/Logo/faveicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/Logo/faveicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Images/Logo/faveicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Images/Logo/faveicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Images/Logo/faveicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Images/Logo/faveicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Images/Logo/faveicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Images/Logo/faveicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/Logo/faveicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Images/Logo/faveicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/Logo/faveicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Images/Logo/faveicon/manifest.json">
    <meta name="msapplication-TileColor" content="#397c79">
    <meta name="msapplication-TileImage" content="~/Content/Images/Logo/faveicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#397c79">

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->


    @Styles.Render("~/Content/publiccss")
    @Html.Action(MVC.Home.HeaderPublicCss())

    @RenderSection("Top", false)

    <style>
        .bg-green-netotik {
            background-color: cadetblue !important;
        }
        .text-darkslategrey {
            color: darkslategrey !important;
        }

    </style>

    <noscript>
        <meta http-equiv="refresh" content="0;url=/NoScript.html">
    </noscript>
</head>
<body class="smoothscroll enable-animation">

    <!--[if lt IE 8]>
            <p class="browserupgrade">شما از مرورگر<strong>قدیمی</strong> استفاده می کنید. لطفا<a href="http://browsehappy.com/">مرورگر خود را بروز رسانی کنید</a> برای نمایش هرچه بهتر سایت.</p>
        <![endif]-->
    <!-- Start main area -->



    <div id="wrapper">

        @Html.Action(MVC.Home.Header())
        @Html.Action(MVC.Home.HeaderMenu())

        @RenderBody()

        @Html.Action(MVC.Home.ActionNames.Footer, MVC.Home.Name)

        @Html.Partial(MVC.SharedPublic.Views._Request)

    </div>


    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>



    <!-- JAVASCRIPT FILES -->

    <script type="text/javascript">var plugin_path = '/Content/PublicUI/plugins/';</script>
    @Scripts.Render("~/bundles/publicjs")
    @Scripts.Render("~/bundles/jqueryvalpublic")

    @RenderSection("Down", required: false)
</body>
</html>
