@{
    ViewBag.Title = "Sms Management";
}﻿

<section id="sectionSmsChart">
    <div class="row">
        @Html.Partial(MVC.Admin.Sms.Views._Chart)

        <div class="col-xl-3 col-lg-3 col-xs-12">
            <div class="card" id="sectionSmsCredit">
                <div class="card-body">
                    <div class="media">
                        <div class="p-2 text-xs-center bg-pink media-left media-middle">
                            <i class="icon-banknote font-large-2 white"></i>
                        </div>
                        <div class="p-2 media-body">
                            <h5>@Captions.FarapayamakCharge</h5>
                            <h5 id="smsCredit" class="text-bold-400"></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="sectionSmsCompaniesCredit">
                <div class="card-body">
                    <div class="media">
                        <div class="p-2 text-xs-center bg-red dark-10 media-left media-middle">
                            <i class="icon-users font-large-2 white"></i>
                        </div>
                        <div class="p-2 media-body">
                            <h5>@Captions.AllUserCharge</h5>
                            <h5 id="smsCompaniesCredit" class="text-bold-400"></h5>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
</section>

<section id="configuration">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-social width-200 btn-instagram" data-toggle="modal" data-target="#Create"><span class="icon-plus font-medium-4"></span> @Captions.NewPackage</button>
                    @Html.Action(MVC.Admin.Sms.Create())
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        @Html.Partial(MVC.Admin.Sms.Views._Table)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="edit-container"></div>
@section DownScript{

    <script src="~/Content/js/plugins/charts/chart.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var table = $('#grid').dataTable({
                "order": [[1, 'asc']],
                "iDisplayLength": 100,
                "bProcessing": true,
                "bStateSave": true,
                "bServerSide": true,
                "bFilter": false,
                "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "bAutoWidth": false,
                "sAjaxSource": "@Url.Action(MVC.Admin.Sms.GetList())",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": aoData,
                        "success": fnCallback
                    });
                },

                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [-1] },
                    { "bSortable": false, "aTargets": [2] },
                    {
                        "bSortable": false,
                        "targets": [4],
                        "render": function (data, type, full, meta) {
                            var result = '';
                            if (full.IsActive == false) {
                                result+=' <div class="tag tag-danger">'+'@Captions.Disabled'+'</div> '
                            } else {
                                result += ' <div class="tag tag-success">'+'@Captions.Active'+'</div> '
                            }
                            return result;
                        }
                    },
                    {
                        "targets": -1,
                        "render": function (data, type, full, meta) {
                            return '<span class="dropdown">'
                                + '<button id="btnSearchDrop2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-outline-secondary dropdown-toggle dropdown-menu-right">'
                                + '<i class="icon-cog3"></i> '+'@Captions.Action'+'</button>'
                                + '<span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right">'
                                + '<a onclick="edit(' + full.Id + ');" class="edit dropdown-item">'
                                + '<i class="icon-pen3"></i> '+'@Captions.Edit'+' </a>'
                                + '<a onclick="remove(' + full.Id + ');" class="dropdown-item">'
                                + '<i class="icon-trash4"></i> '+'@Captions.Remove'+' </a>';

                        }
                    }
                ]
                ,
                "aoColumns": [
                    { "mDataProp": "RowNumber" },
                    { "mDataProp": "Name" },
                    { "mDataProp": "SmsCount" },
                    { "mDataProp": "Price" },
                    { "mDataProp": "IsActive" },
                    { "mDataProp": "Order" },
                    { "no": "no" }
                ]
            });

        });

        function edit(id) {
            CardBlock('#configuration');
            var url = "@Url.Action(MVC.Admin.Sms.Edit())";
            $.get(url + '/' + id, function (data) {
                $('#edit-container').html(data);
                $('#Edit').modal('show');
                CardUnBlock('#configuration');
                Icheck();
                AjaxForm.EnableAjaxFormvalidate('Edit');
            });
        };

         function remove(id) {
            PostData("@Url.Action(MVC.Admin.Sms.Remove())", { id: id });
        }

          $(window).on("load", function () {
              CardBlock('#sectionSmsChart');
             $.get("@Url.Action(MVC.Admin.Sms.GetSmsChartData())", function (data) {
                    var a = $("#sms-chart"),
                b = {
                    elements: { rectangle: { borderWidth: 2, borderColor: "rgb(0, 255, 0)", borderSkipped: "bottom" } },
                    responsive: !0, maintainAspectRatio: !1, responsiveAnimationDuration: 500, legend: { position: "top" },
                    scales: {
                        xAxes: [{ display: !0, gridLines: { color: "#f3f3f3", drawTicks: !1 }, scaleLabel: { display: !0 } }],
                        yAxes: [{ display: !0, gridLines: { color: "#f3f3f3", drawTicks: !1 }, scaleLabel: { display: !0 } }]
                    }, title: { display: !1, }
                }, c = {
                    labels: data.dates,
                    datasets: [
                        { label: "@Captions.SmsSendedByPanels", data: data.userSms, backgroundColor: "#3fba82", hoverBackgroundColor: "rgba(103,58,183,.9)", borderColor: "transparent" },
                        { label: "@Captions.SmsSendedBySystem", data: data.systemSms, backgroundColor: "#f1d987", hoverBackgroundColor: "rgba(233,30,99,.9)", borderColor: "transparent" }]
                }, d = { type: "line", options: b, data: c }; new Chart(a, d)
                CardUnBlock('#sectionSmsChart');
            }, "json");

        });


            $(window).on("load", function () {
                CardBlock('#sectionSmsCredit');
                $.get("@Url.Action(MVC.Admin.Sms.GetSmsCredit())", function (data) {
                    $("#smsCredit").text(data.charge);
                CardUnBlock('#sectionSmsCredit');
            }, "json");
          });

            $(window).on("load", function () {
                    CardBlock('#sectionSmsCompaniesCredit');
                    $.get("@Url.Action(MVC.Admin.Sms.GetSmsCompaniesCredit())", function (data) {
                    $("#smsCompaniesCredit").text(data.charge);
                    CardUnBlock('#sectionSmsCompaniesCredit');
            }, "json");
            });

    </script>
}
