@model Netotik.ViewModels.CMS.Content.ContentModel
@{
    ViewBag.Title = Captions.NewContent;
}
<section class="flexbox-container">
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm(MVC.Admin.Content.ActionNames.Create, MVC.Admin.Content.Name, FormMethod.Post,
     htmlAttributes: new { @class = "form-horizontal", enctype = "multipart/form-data", id = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card">
                    <div class="card-header">
                        <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" class="btn btn-social width-150 btn-instagram margin-bottom-2" onclick="AjaxForm.Post(this, 'form')" data-loading-text="@Captions.SendingData">
                            <span class="icon-checkmark2 font-medium-4"></span>
                            @Netotik.Resources.Captions.Save
                        </button>
                        <a href="@Url.Action(MVC.Admin.Content.Index())" class="btn btn-social width-150 btn-secondary btn-default"><span class="icon-android-arrow-back font-medium-3"></span> @Captions.Back </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-file-text2"></i> @Captions.Content </h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Title)
                                                <div class="position-relative">
                                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Title, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Url)
                                                <div class="position-relative">
                                                    @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Url, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.BodyOverview)
                                                <div class="position-relative">
                                                    @Html.TextAreaFor(m => m.BodyOverview, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BodyOverview, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Body)
                                                <div class="position-relative">
                                                    @Html.ValidationMessageFor(model => model.Body, "", htmlAttributes: new { @class = "text-danger" })
                                                    @Html.TextAreaFor(m => m.Body, new { @class = "ckeditor" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="icon-cog"></i> @Captions.Configuration </h4>
                                    <div class="row form-group skin skin-flat">
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <fieldset>
                                                @Html.CheckBoxFor(model => model.AllowComments)
                                                @Html.LabelFor(model => model.AllowComments)
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <fieldset>
                                                @Html.CheckBoxFor(model => model.AllowViewComments)
                                                @Html.LabelFor(model => model.AllowViewComments)
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <fieldset>
                                                @Html.CheckBoxFor(model => model.HasSideBar)
                                                @Html.LabelFor(model => model.HasSideBar)
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row form-group skin skin-flat">
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <fieldset>
                                                @Html.CheckBoxFor(model => model.DontShowBlog)
                                                @Html.LabelFor(model => model.DontShowBlog)
                                            </fieldset>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <fieldset>
                                                @Html.CheckBoxFor(model => model.DontShowImageDetail)
                                                @Html.LabelFor(model => model.DontShowImageDetail)
                                            </fieldset>
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="icon-google"></i> سئو </h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                @Html.LabelFor(m => m.MetaTitle)
                                                <div class="position-relative">
                                                    @Html.TextAreaFor(m => m.MetaTitle, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MetaTitle, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                @Html.LabelFor(m => m.MetaKeywords)
                                                <div class="position-relative">
                                                    @Html.TextAreaFor(m => m.MetaKeywords, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MetaKeywords, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback has-icon-left">
                                                @Html.LabelFor(m => m.MetaDescription)
                                                <div class="position-relative">
                                                    @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MetaDescription, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-language"></i>@Captions.Language</h4>
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.DropDownListFor(model => model.LanguageId, ViewBag.Languages as SelectList,"", new { @class = "selectize-select" })
                                                @Html.ValidationMessageFor(model => model.LanguageId, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="icon-stack"></i> @Captions.Subjects</h4>
                                    <div class="row mb-3">
                                        <div class="col-md-12 skin skin-flat">
                                            @if (!Model.ContentCategories.Any())
                                            {
                                                <text>
                                                    دسته ای در سیستم موجود نیست
                                                </text>
                                            }
                                            else
                                            {
                                                <ul>
                                                    @foreach (var item in Model.ContentCategories)
                                                    {
                                                        <li>
                                                            <input type="checkbox" name="CategoryIds" value="#@item.Id">
                                                            @Html.Label("CategoryIds", item.Name)
                                                            @if (item.SubCategories.Any())
                                                            {
                                                                <ul>
                                                                    @foreach (var item2 in item.SubCategories)
                                                                    {
                                                                        <li>
                                                                            <input type="checkbox" name="CategoryIds" value="#@item2.Id">
                                                                            @Html.Label("CategoryIds", item2.Name)
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="icon-price-tags"></i> @Captions.Tags </h4>
                                    <div class="row mb-3">
                                        <div class="col-md-12 skin skin-flat">
                                            @Html.DropDownListFor(model => model.TagIds, Model.ContentTages, new { @class = "selectize-select", multiple = "" })
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="icon-image2"></i> @Captions.Image </h4>
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <fieldset>
                                                @Html.EditorFor(model => model.Image)
                                            </fieldset>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

