@model Netotik.ViewModels.Identity.UserCompany.MikrotikConfModel
@{
    ViewBag.Title = Netotik.Resources.Captions.MikrotikConfig;
}
<section class="flexbox-container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm(MVC.Company.Home.ActionNames.MikrotikConf, MVC.Company.Home.Name, null, FormMethod.Post, htmlAttributes: new { @class = "cmxform form-horizontal tasi-form", id = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card">
                    <div class="card-header">
                        <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" class="btn btn-social width-100 btn-instagram" onclick="AjaxForm.Post(this, 'form')" data-loading-text="در حال ارسال اطلاعات">
                            <span class="icon-checkmark2 font-medium-4"></span>
                            @Netotik.Resources.Captions.Save
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group has-feedback has-icon-left">
                                        @Html.LabelFor(m => m.R_Host)
                                        <div class="position-relative has-icon-left">
                                            @Html.TextBoxFor(m => m.R_Host, new { @class = "form-control" })
                                            <div class="form-control-position">
                                                <i class="icon-server"></i>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.R_Host, "", htmlAttributes: new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group has-feedback has-icon-left">
                                        @Html.LabelFor(m => m.R_Port)
                                        <div class="position-relative has-icon-left">
                                            @Html.TextBoxFor(m => m.R_Port, new { @class = "form-control" })
                                            <div class="form-control-position">
                                                :
                                            </div>
                                            @Html.ValidationMessageFor(model => model.R_Port, "", htmlAttributes: new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <br />
                                    <div class="controls">
                                        <label class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(m => m.cloud, htmlAttributes: new { @class = "custom-control-input" })
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">
                                                @Html.LabelFor(m => m.cloud)
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group has-feedback has-icon-left">
                                        @Html.LabelFor(m => m.R_User)
                                        <div class="position-relative has-icon-left">
                                            @Html.TextBoxFor(m => m.R_User, new { @class = "form-control" })
                                            <div class="form-control-position">
                                                <i class="icon-user-tie"></i>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.R_User, "", htmlAttributes: new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-feedback has-icon-left">
                                        @Html.LabelFor(m => m.R_Password)
                                        <div class="position-relative has-icon-left">
                                            @Html.PasswordFor(m => m.R_Password, new { @class = "form-control" })
                                            <div class="form-control-position">
                                                <i class="icon-key2"></i>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.R_Password, "", htmlAttributes: new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-feedback has-icon-left">
                                        @Html.LabelFor(m => m.Userman_Customer)
                                        <div class="position-relative has-icon-left">
                                            @Html.TextBoxFor(m => m.Userman_Customer, new { @class = "form-control" })
                                            <div class="form-control-position">
                                                <i class="icon-user-tie"></i>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Userman_Customer, "", htmlAttributes: new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
