@model Netotik.ViewModels.Identity.UserCompany.ProfileEditModel
@{
    ViewBag.Title = " پروفایل شرکت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12" id="ContentPage">
        <section class="panel">
            @using (Html.BeginForm(MVC.Company.Home.ActionNames.Profile, MVC.Company.Home.Name, FormMethod.Post,
                    htmlAttributes: new { @class = "form cmxform form-horizontal tasi-form", enctype = "multipart/form-data", id = "form" }))
            {


                <header class="panel-heading alert-info">
                    <button class="btn btn-primary" onclick="AjaxForm.CustomSubmit(this, 'form')" data-loading-text="در حال ارسال اطلاعات" type="submit">
                        @Netotik.Resources.Captions.Save
                    </button>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model=>model.Reseller_Id)
                    @Html.HiddenFor(model => model.Email)
                    @Html.HiddenFor(model => model.CompanyName)
                    @Html.HiddenFor(model => model.Username)
                </header>
                <div class="panel-body">
                    @Html.EditorFor(model => model.Name)
                    @Html.EditorFor(model => model.MobileNumber)
                    @Html.EditorFor(model => model.PersonCode)
                    @Html.EditorFor(model => model.Address)
                    @Html.EditorFor(model => model.PostalCode)
                    <div class="hr-line-dashed"></div>
                    <div class="i-checks">@Html.EditorFor(model=>model.cloud)</div>
                    @Html.EditorFor(model => model.R_Host)
                    @Html.EditorFor(model => model.R_Port)
                    @Html.EditorFor(model => model.R_User)
                    <label class="control-label" for="@Html.DisplayNameFor(model=>model.R_Password)">@Html.DisplayNameFor(model => model.R_Password)</label>
                    @Html.TextBoxFor(model => model.R_Password , htmlAttributes: new { @class = "form-control", type = "password" })
                    @Html.EditorFor(model => model.Userman_Customer)
                </div>
            }

        </section>
    </div>
</div>
