@using Netotik.ViewModels.Identity.Security
@using MvcPaging
@model IPagedList<Netotik.ViewModels.Shop.ShippingMethod.TableShippingMethodModel>

@{
    var roles = Html.CurrentUserPermissions();

    var canDelete = roles.Any(x => x == AssignableToRolePermissions.CanDeleteShopShippingByMethod);
    var canEdit = roles.Any(x => x == AssignableToRolePermissions.CanEditShopShippingByMethod);
    var canAccessShipping = roles.Any(x => x == AssignableToRolePermissions.CanAccessShopShippingByWeight);

    Layout = null;
    string querySearch = "";


    if (Request["Search"] != null)
    {
        querySearch = Request["Search"].ToString();
    }
}

<div id="gridlist">
    @if (!Model.Any())
    {
        <div class="gradeX odd">
            هیچ نحوه ارسالی در سیستم موجود نیست..
        </div>
    }
    else
    {


        <table class="table table-striped border-top dataTable">
            <thead class="alert-info">
                <tr role="row">
                    <th role="columnheader" rowspan="1" colspan="1"></th>
                    <th role="columnheader" rowspan="1" colspan="1">@Netotik.Resources.Captions.Title</th>
                    <th role="columnheader" rowspan="1" colspan="1">@Netotik.Resources.Captions.Description</th>
                    <th role="columnheader" rowspan="1" colspan="1">@Netotik.Resources.Captions.ActiveStatus</th>
                    <th role="columnheader" rowspan="1" colspan="1"></th>
                </tr>
            </thead>

            <tbody role="alert">
                @foreach (var item in Model)
                {
                    <tr class="gradeX odd">
                        <td>
                            @if (!string.IsNullOrWhiteSpace(item.imgName))
                            {
                                <img src="@Url.Content(Path.Combine(Netotik.Web.Extension.FileManager._imagesShopShippingMethodPath,item.imgName))" width="60" height="70" />
                            }
                        </td>
                        <td class="">@item.Name </td>
                        <td class="">@item.Description</td>
                        <td class="">@(item.IsActive ? "فعال" : "غیر فعال")</td>
                        <td>
                            <a href="@Url.Action(MVC.Admin.ShopShippingMethod.ActionNames.Detail, new { id = item.Id })" class="btn btn-white btn-xs"><i class="icon-search"></i></a>

                            @if (canEdit)
                            {
                                <a href="@Url.Action(MVC.Admin.ShopShippingMethod.ActionNames.Edit, new { id = item.Id })" class="btn btn-primary btn-xs "><i class="icon-pencil"></i></a>
                            }
                            @if (canDelete)
                            {
                                <form action="@Url.Action(MVC.Admin.ShopShippingMethod.ActionNames.Remove)" style="float:right" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button class="btn btn-danger btn-xs"><i class="icon-trash"></i></button>
                                </form>
                            }
                            @if (canAccessShipping)
                            {
                                <a href="@Url.Action(MVC.Admin.ShopShippingByWeight.ActionNames.Index,MVC.Admin.ShopShippingByWeight.Name, new { id = item.Id })" class="btn btn-info btn-xs"><i class="icon-file"></i> شرایط  @item.CountCondition </a>
                            }

                        </td>

                    </tr>
                }


            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="padding:0;" class="pager">
                        @Html.Raw(Ajax.Pager(new Options { PageSize = Model.PageSize, TotalItemCount = Model.TotalItemCount, CurrentPage = Model.PageNumber, ItemTexts = new ItemTexts() { Next = "", Previous = "", Page = "" }, ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-right", Next = "icon-chevron-left", Last = "icon-forward" }, TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." }, Size = Size.normal, Alignment = Alignment.centered, IsShowControls = false, IsShowFirstLast = false, CssClass = "pagination pagination-sm" }, new AjaxOptions { UpdateTargetId = "gridlist", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, new { controller = MVC.Admin.ShopShippingMethod.Name, action = MVC.Admin.ShopShippingMethod.ActionNames.Index, search = querySearch }))
                    </td>
                </tr>
            </tfoot>
        </table>
    }
</div>
