@model Netotik.ViewModels.Shop.ShippingMethod.ShippingMethodModel
@{
    Layout = null;
}




<div class="tabs-container">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#content" data-toggle="tab">
                <i class="fa fa-archive"></i>
            مشخصات</a>
        </li>
        <li>
            <a href="#image" data-toggle="tab">
                <i class="fa fa-image"></i>
            تصویر</a>
        </li>
    </ul>
    @Html.HiddenFor(model => model.Id)
    <div class="tab-content">
        <div class="tab-pane active" id="content">
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Name)
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.BasePrice)
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.DisplayOrder)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.IsActive)
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.IsDefault)
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.PriceAfterRecive)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Description)
                    </div>
                </fieldset>
            </div>
        </div>
       
        <div class="tab-pane" id="image">
            <div class="panel-body">
                <fieldset>
                    @Html.EditorFor(model => model.Image)
                    @Html.Partial("_SingleImageForm")
                </fieldset>
            </div>
        </div>

    </div>


</div>
