@using Netotik.ViewModels.Identity.Security
@using MvcPaging
@model IPagedList<Netotik.ViewModels.Shop.Discount.TableDiscountModel>

@{

    var roles = Html.CurrentUserPermissions();

    var canDelete = roles.Any(x => x == AssignableToRolePermissions.CanDeleteDiscount);
    var canEdit = roles.Any(x => x == AssignableToRolePermissions.CanEditDiscount);

    Layout = null;
    string querySearch = "";


    if (Request["Search"] != null)
    {
        querySearch = Request["Search"].ToString();
    }
}

<div id="gridlist">
    @if (!Model.Any())
    {
        <div class="gradeX odd">
            هیچ   تخفیف در سیستم تعریف نشده است ..
        </div>
    }
    else
    {


        <table class="table table-striped border-top dataTable">
            <thead class="alert-info">
                <tr role="row">
                    <th role="columnheader" rowspan="1" colspan="1">@Netotik.Resources.Captions.Name</th>
                    <th role="columnheader" rowspan="1" colspan="1">نوع تخفیف</th>
                    <th role="columnheader" rowspan="1" colspan="1">@Netotik.Resources.Captions.StartDatePublish</th>
                    <th role="columnheader" rowspan="1" colspan="1">@Netotik.Resources.Captions.EndDatePublish</th>
                    <th role="columnheader" rowspan="1" colspan="1">تعداد استفاده</th>
                    <th role="columnheader" rowspan="1" colspan="1"></th>
                </tr>
            </thead>

            <tbody role="alert">
                @foreach (var item in Model)
                {
                    <tr class="gradeX odd">
                        <td class="">@item.Name</td>
                        <td class="">@item.DiscountTypeName</td>
                        <td class="">@PersianDate.ConvertDate.ToFa(item.StartDate, "D")</td>
                        <td class="">@PersianDate.ConvertDate.ToFa(item.EndDate, "D")</td>
                        <td class="">@item.TimesUse</td>
                        <td>
                            <a href="@Url.Action(MVC.Admin.ShopDiscount.ActionNames.Detail, new { id = item.Id })" class="btn btn-white btn-xs"><i class="icon-search"></i></a>

                            @if (canEdit)
                            {
                                <a href="@Url.Action(MVC.Admin.ShopDiscount.ActionNames.Edit, new { id = item.Id })" class="btn btn-primary btn-xs "><i class="icon-pencil"></i></a>
                            }
                            @if (canDelete)
                            {
                                <form action="@Url.Action(MVC.Admin.ShopDiscount.ActionNames.Remove)" style="float:right" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button class="btn btn-danger btn-xs"><i class="icon-trash"></i></button>
                                </form>
                            }
                        </td>

                    </tr>
                }


            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="padding:0;" class="pager">
                        @Html.Raw(Ajax.Pager(new Options { PageSize = Model.PageSize, TotalItemCount = Model.TotalItemCount, CurrentPage = Model.PageNumber, ItemTexts = new ItemTexts() { Next = "", Previous = "", Page = "" }, ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-right", Next = "icon-chevron-left", Last = "icon-forward" }, TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." }, Size = Size.normal, Alignment = Alignment.centered, IsShowControls = false, IsShowFirstLast = false, CssClass = "pagination pagination-sm" }, new AjaxOptions { UpdateTargetId = "gridlist", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" }, new { controller = MVC.Admin.ShopDiscount.Name, action = MVC.Admin.ShopDiscount.ActionNames.Index, search = querySearch }))
                    </td>
                </tr>
            </tfoot>
        </table>
    }
</div>
