@model Netotik.ViewModels.Shop.Discount.DiscountModel
@{
    Layout = null;
}
@Html.HiddenFor(model => model.Id)


<div class="tabs-container">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#content" data-toggle="tab">
                <i class="fa fa-archive"></i>
                مشخصات
            </a>
        </li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="content">
            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Name)
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.DiscountType)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.UsePercentage)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.DiscountAmount)
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.DiscountPercentage)
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.MaximumDiscountAmount)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.StartDate)
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.EndDate)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.RequiersCouponCode)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.CouponCode)
                        </div>
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.MaximumDiscountQuantity)
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Description)
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
