@model Netotik.ViewModels.Common.Setting.GeneralSettingModel
@{
    ViewBag.Title = "تنظیمات سایت";
}

@using (Html.BeginForm(MVC.Admin.Configuration.ActionNames.Index, MVC.Admin.Configuration.Name, FormMethod.Post, htmlAttributes: new { @class = "form cmxform form-horizontal tasi-form", id = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-md-12">
                <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" class="btn btn-outline btn-primary" onclick="AjaxForm.Post(this, 'form')" data-loading-text="در حال ارسال اطلاعات">
                    <span class="fa fa-check"></span>
                    @Netotik.Resources.Captions.Save
                </button>
            </div>
            <div class="col-md-12">
                @Html.ValidationSummary(false, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="tabs-container">

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#public" data-toggle="tab">
                    <i class="fa fa-archive"></i>
                عمومی </a>
            </li>
            <li>
                <a href="#Contact" data-toggle="tab">
                    <i class="fa fa-location-arrow"></i>
                اطلاعات تماس</a>
            </li>

        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="public">
                <div class="panel-body">
                    <fieldset>
                        @Html.EditorFor(model => model.SiteName)
                        @Html.EditorFor(model => model.Facebook)
                        @Html.EditorFor(model => model.Twitter)
                        @Html.EditorFor(model => model.Instagram)
                        @Html.EditorFor(model => model.GooglePlus)
                    </fieldset>
                </div>
            </div>

            <div class="tab-pane" id="Contact">
                <fieldset>
                    <div class="panel-body">
                        @Html.EditorFor(model => model.CompanyName)
                        @Html.EditorFor(model => model.CompanyAddress)
                        @Html.EditorFor(model => model.CompanyTel1)
                        @Html.EditorFor(model => model.CompanyTel2)
                        @Html.EditorFor(model => model.CompanyEmail1)
                        @Html.EditorFor(model => model.CompanyEmail2)
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
}

