@{
    ViewBag.Title = Netotik.Resources.Captions.Charts;

}
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 border-right-blue-grey border-right-lighten-5">
                        <div class="p-1 text-xs-center">
                            <div>
                                <h3 class="display-4 grey darken-1">@(ViewBag.UsermanagerSessionsUpload + ViewBag.UsermanagerSessionsDownload)</h3>
                                <span class="grey darken-1">Download + Upload</span>
                            </div>
                            <div class="card-body">
                                <ul class="list-inline clearfix">
                                    <li class="border-right-grey border-right-lighten-2 pr-2">
                                        <h1 class="cyan text-bold-400">@ViewBag.UsermanagerSessionsDownload</h1>
                                        <span class="grey darken-1"><i class="icon-download22"></i>Download MB</span>
                                    </li>
                                    <li class="pl-2">
                                        <h1 class="cyan text-bold-400">@ViewBag.UsermanagerSessionsUpload</h1>
                                        <span class="grey darken-1"><i class="icon-upload22"></i>Upload MB</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 border-right-blue-grey border-right-lighten-5">
                        <div style="margin:8px !important">
                            <h1>اتصالات یوزرمنیجر</h1>
                            <span>این آمار از تمامی اتصالات موجود در یوزرمنیجر بدست آمده است.این آمار دقیق نبوده ولی با زمانبندی ریست کردن اتصالات میتوانید آمار حدودی خوبی بدست بیاورید.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 border-right-blue-grey border-right-lighten-5">
                        <div class="p-1 text-xs-center">
                            <div>
                                <h3 class="display-4 grey darken-1">@(ViewBag.UsermanagerSessionsUpload7 + ViewBag.UsermanagerSessionsDownload7)</h3>
                                <span class="grey darken-1">Download + Upload</span>
                            </div>
                            <div class="card-body">
                                <ul class="list-inline clearfix">
                                    <li class="border-right-grey border-right-lighten-2 pr-2">
                                        <h1 class="cyan text-bold-400">@ViewBag.UsermanagerSessionsDownload7</h1>
                                        <span class="grey darken-1"><i class="icon-download22"></i>Download MB</span>
                                    </li>
                                    <li class="pl-2">
                                        <h1 class="cyan text-bold-400">@ViewBag.UsermanagerSessionsUpload7</h1>
                                        <span class="grey darken-1"><i class="icon-upload22"></i>Upload MB</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 border-right-blue-grey border-right-lighten-5">
                        <div style="margin:8px !important">
                            <h1>اتصالات یوزرمنیجر 7 روز گذشته</h1>
                            <span>این آمار از تمامی اتصالات موجود در 7 روز گذشته یوزرمنیجر بدست آمده است.این آمار دقیق نبوده ولی با زمانبندی ریست کردن اتصالات میتوانید آمار حدودی خوبی بدست بیاورید.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 border-right-blue-grey border-right-lighten-5">
                        <div class="p-1 text-xs-center">
                            <div>
                                <h3 class="display-4 grey darken-1">@(ViewBag.UsermanagerSessionsUpload30 + ViewBag.UsermanagerSessionsDownload30)</h3>
                                <span class="grey darken-1">Download + Upload</span>
                            </div>
                            <div class="card-body">
                                <ul class="list-inline clearfix">
                                    <li class="border-right-grey border-right-lighten-2 pr-2">
                                        <h1 class="cyan text-bold-400">@ViewBag.UsermanagerSessionsDownload30</h1>
                                        <span class="grey darken-1"><i class="icon-download22"></i>Download MB</span>
                                    </li>
                                    <li class="pl-2">
                                        <h1 class="cyan text-bold-400">@ViewBag.UsermanagerSessionsUpload30</h1>
                                        <span class="grey darken-1"><i class="icon-upload22"></i>Upload MB</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 border-right-blue-grey border-right-lighten-5">
                        <div style="margin:8px !important">
                            <h1>اتصالات یوزرمنیجر 30 روز گذشته</h1>
                            <span>این آمار از تمامی اتصالات موجود در 30روز گذشته یوزرمنیجر بدست آمده است.این آمار دقیق نبوده ولی با زمانبندی ریست کردن اتصالات میتوانید آمار حدودی خوبی بدست بیاورید.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 border-right-blue-grey border-right-lighten-5">
                        <div class="p-1 text-xs-center">
                            <div>
                                <h3 class="display-4 grey darken-1">@(ViewBag.UsermanagerUsersDownload + ViewBag.UsermanagerUsersUpload)</h3>
                                <span class="grey darken-1">Download + Upload</span>
                            </div>
                            <div class="card-body">
                                <ul class="list-inline clearfix">
                                    <li class="border-right-grey border-right-lighten-2 pr-2">
                                        <h1 class="cyan text-bold-400">@ViewBag.UsermanagerUsersDownload</h1>
                                        <span class="grey darken-1"><i class="icon-download22"></i>Download</span>
                                    </li>
                                    <li class="pl-2">
                                        <h1 class="cyan text-bold-400">@ViewBag.UsermanagerUsersUpload</h1>
                                        <span class="grey darken-1"><i class="icon-upload22"></i>Upload</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 border-right-blue-grey border-right-lighten-5">
                        <div style="margin:8px !important">
                            <h1>حجم کاربران یوزرمنیجر</h1>
                            <span>این آمار حجم مصرفی کلیه کاربران موجود در یوزرمنیجر می باشد.
                            با زمانبندی ریست کردن حجم مصرفی کاربران می توانید بر روی این آمار نیز مدیریت آنجام دهید.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
