@using Netotik.Web.Infrastructure;
@using Netotik.Resources;
@{
    ViewBag.Title = Netotik.Resources.Captions.Dashboard;
}
@if (ViewBag.TimeError != null)
{
    <div class="alert alert-icon-left alert-warning alert-dismissible fade in mb-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>@Captions.Information:</strong>تاریخ روتر صحیح نمی باشد.لطفا برای تنظیم تاریخ روتر <a href="@Url.Action(MVC.MyRouter.Home.ConfigRouterClock())"> اینجا </a> کلید کنید.
    </div>
}
<div class="row">
    <div class="row col-xl-12 col-xs-12" id="mkalerts">
    </div>
    <div class="col-xl-3 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block" id="UserCount">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="teal" id="UsersCount"></h3>
                            <span><a href="@Url.Action(MVC.MyRouter.UserManager.UserList())">@Captions.UsersCount</a></span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-user1 teal font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block" id="PackageCount">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="teal" id="PackagesCount"></h3>
                            <span><a href="@Url.Action(MVC.MyRouter.UserManager.PackageList())">@Captions.PlanCount</a></span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-cart teal font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block" id="ActiceSession">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="teal" id="ActiceSessions"></h3>
                            <span><a href="@Url.Action(MVC.MyRouter.UserManager.Online())">@Captions.OnlineUsers</a></span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-world teal font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block" id="RouterDateTime">
                    <div class="media">
                        <div class="media-body text-xs-left">
                            <h3 class="teal wrapper" id="RouterDate"></h3>
                            <span id="RouterTime"></span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-clock-o teal font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<section id="sectionChartPrice">
    @Html.Partial(MVC.MyRouter.Home.Views._IndexChart)
</section>

@section DownScript{
    <script src="~/Content/js/plugins/charts/chart.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(window).on("load", function () {
            CardBlock('#UserCount');
            $.get("@Url.Action(MVC.MyRouter.Home.GetUserCount())", function (data) {
                $("#UsersCount").text(data.Count);
                CardUnBlock('#UserCount');
            }, "json");
        });

        $(window).on("load", function () {
            CardBlock('#PackageCount');
            $.get("@Url.Action(MVC.MyRouter.Home.GetPackageCount())", function (data) {
                $("#PackagesCount").text(data.Count);
                CardUnBlock('#PackageCount');
            }, "json");
        });
        $(window).on("load", function () {
            CardBlock('#ActiceSession');
            $.get("@Url.Action(MVC.MyRouter.Home.GetActiceSessionCount())", function (data) {
                $("#ActiceSessions").text(data.Count);
                CardUnBlock('#ActiceSession');
            }, "json");
        });
        $(window).on("load", function () {
            CardBlock('#RouterDateTime');
            $.get("@Url.Action(MVC.MyRouter.Home.GetRouterDateTime())", function (data) {
                $("#RouterDate").text(data.ClockDate);
                $("#RouterTime").text(data.ClockTime);
                CardUnBlock('#RouterDateTime');
            }, "json");
        });


        $(window).on("load", function () {
            CardBlock('#sectionChartPrice');
            $.get("@Url.Action(MVC.MyRouter.Home.GetLastProfile())", function (data) {
                var a = $("#price-chart"),
           b = {
               tooltips: { mode: "label" }, responsive: !0, maintainAspectRatio: !1,
               responsiveAnimationDuration: 500,
               scales: {
                   xAxes: [{
                       stacked: !0, display: !0, gridLines:
                       { color: "#f3f3f3", drawTicks: !1 }, scaleLabel: { display: !0 }
                   }], yAxes: [{
                       stacked: !0, display: !0, gridLines: { color: "#f3f3f3", drawTicks: !1 },
                       scaleLabel: { display: !0 }
                   }]
               }
           }, c = {
                labels: data.dates,
                datasets: [
                    { label: "@Captions.Upload", data: data.upload, backgroundColor: "#3fba82", hoverBackgroundColor: "rgba(103,58,183,.9)", borderColor: "transparent" },
                    { label: "@Captions.Download", data: data.download, backgroundColor: "#f1d987", hoverBackgroundColor: "rgba(233,30,99,.9)", borderColor: "transparent" }]
            }, d = { type: "bar", options: b, data: c }; new Chart(a, d)
                CardUnBlock('#sectionChartPrice');
            }, "json");
        });
        setInterval(
             function () {
                 $.get("@Url.Action(MVC.MyRouter.Home.GetRouterDateTime())", function (data) {
                     $("#RouterDate").text(data.ClockDate);
                     $("#RouterTime").text(data.ClockTime);
                 }, "json");
             }
            , 10000);

        $(window).on("load", function () {
            $.get("@Url.Action(MVC.MyRouter.Home.MkAlerts())", function (data) {
                $("#mkalerts").html(data);
            }, "html");
        });
    </script>
}
