@model Netotik.ViewModels.Identity.UserRouter.SmsModel
@using Netotik.Domain.Entity;
@{
    var packages = ViewBag.Packages as List<SmsPackage>;
  

}
<section class="flexbox-container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm(MVC.MyRouter.Home.ActionNames.Sms, MVC.MyRouter.Home.Name, null, FormMethod.Post, htmlAttributes: new { @class = "cmxform form-horizontal tasi-form", id = "form" }))
            {
                @Html.HiddenFor(m => m.SmsActive)
                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()

                <div class="card">
                    <div class="card-header">
                        <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" class="btn btn-social width-100 btn-instagram" onclick="AjaxForm.Post(this, 'form')" data-loading-text="در حال ارسال اطلاعات">
                            <span class="icon-checkmark2 font-medium-4"></span>
                            @Netotik.Resources.Captions.Save
                        </button>
                        <button type="button" class="btn btn-social width-150 btn-instagram" data-toggle="modal" data-target="#BuySmsPackage"><span class="icon-credit-card2 font-medium-4"></span> @Captions.BuyPackage</button>

                        <div class="heading-elements">
                            <button class="btn btn-outline btn-danger width-200" disabled=""> @Captions.SmsCharge @Model.SmsCharge</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-cog3"></i> پیامک های اطلاع رسانی</h4>
                                    <div class="row skin skin-flat">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.SmsUserhangeUserPassword)
                                                @Html.LabelFor(m => m.SmsUserhangeUserPassword)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.SmsUserAfterResetCounter)
                                                @Html.LabelFor(m => m.SmsUserAfterResetCounter)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.SmsUserAfterDelete)
                                                @Html.LabelFor(m => m.SmsUserAfterDelete)

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.SmsUserAfterCreateWithAdmin)
                                                @Html.LabelFor(m => m.SmsUserAfterCreateWithAdmin)

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.SmsUserAfterChangePackage)
                                                @Html.LabelFor(m => m.SmsUserAfterChangePackage)

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.SmsAdminLogins)
                                                @Html.LabelFor(m => m.SmsAdminLogins)

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.SmsAdminChangeUserPassword)
                                                @Html.LabelFor(m => m.SmsAdminChangeUserPassword)

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.SmsAdminChangeAdminPassword)
                                                @Html.LabelFor(m => m.SmsAdminChangeAdminPassword)

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.RegisterFormSms)
                                                @Html.LabelFor(m => m.RegisterFormSms)

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-block">

                                    <h4 class="form-section"><i class="icon-mobile"></i>تنظیمات ثبت نام پیامکی</h4>
                                    <div class="row" id="profilesSections">
                                        @Html.LabelFor(m=>m.RegisterWithSmsRouterProfile)
                                        <select class="selectize-select" id="">
                                        </select>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-icon-left">
                                                @Html.LabelFor(m => m.RegisterWithSmsMessage)
                                                <div class="position-relative " data-toggle="tooltip" data-original-title="<b>@Model.RegisterWithSmsMessage</b>" data-html="true">
                                                    @Html.TextAreaFor(m => m.RegisterWithSmsMessage, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <hr />
                                        <div class="col-md-12 skin skin-flat">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.SmsIfErrorInSms)
                                                @Html.LabelFor(m => m.SmsIfErrorInSms)

                                            </div>
                                        </div>
                                        <div class="col-md-12 skin skin-flat">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(model => model.RegisterWithSms)
                                                @Html.LabelFor(m => m.RegisterWithSms)
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>

    <div class="modal fade" id="BuySmsPackage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel20" aria-hidden="true">
        <div class="modal-lg modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel20">@Captions.SmsPackages</h4>
                </div>
                <div class="model-body">
                    <div class="row">
                        @foreach (var item in packages)
                        {
                            <div class="col-md-4">
                                <div class="card-block">
                                    <ul class="list-group">
                                        <li class="list-group-item bg-warning" style="text-align:center"> @item.Name </li>
                                        <li class="list-group-item list-group-item-action" style="text-align:center">@item.Price.ToString("##,# " + Captions.Toman)</li>
                                        <li class="list-group-item list-group-item-action" style="text-align:center"> @item.SmsCount Sms</li>
                                        <li class="list-group-item">
                                            <a onclick="BuyPackage('@item.Id');" class="btn btn-secondary btn-block btn-square">
                                                <span class="icon-shopping-bag"></span>
                                                @Captions.BuyPackage
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


@section DownScript{
    <script type="text/javascript">

        function BuyPackage(id) {
            PostData("@Url.Action(MVC.MyRouter.Home.BuySmsPackage())", { id: id });
        }

         $(window).on("load", function () {
             CardBlock('#profilesSections');
             $.get("@Url.Action(MVC.MyRouter.Home.LoadProfiles())", function (data) {
                 $("#profilesSections").html(data);
                 Selectize();
                 CardUnBlock('#profilesSections');
            }, "html");
        });


    </script>
}
