@model Netotik.ViewModels.Shop.ShippingByWeight.ShippingByWeightModel
@{
    Layout = null;
}

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.ShippingMethodId)


<div class="tabs-container">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#content" data-toggle="tab">
                <i class="fa fa-archive"></i>
            مشخصات</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="content">
            <div class="panel-body">
                <fieldset>
                    @Html.EditorFor(model => model.FromWeight)
                    @Html.EditorFor(model => model.ToWeight)
                    @Html.EditorFor(model => model.AdditionalFixedPrice)
                </fieldset>
            </div>
        </div>
    </div>
</div>
