@* Generator: MvcHelper GeneratePrettyNames: true *@
@using System.Web.Mvc
@helper CheckBoxList(string name, List<SelectListItem> items)
{
    <div class="row">
        @foreach (var item in items)
        {

            <text>
                <div class="col-md-3">
                    <div class="i-checks">
                        <input type="checkbox" @if (item.Selected) { <text> checked="checked" </text>      }
                               id="@item.Value" name="@name" value="@item.Value" class="checkbox-inline" />
                        <label for="@item.Value" class="control-label">@item.Text</label>
                    </div>
                </div>
            </text>
        }
    </div>
}