@{
    Layout = null;
}
<!-- Modal -->
<div class="modal fade text-xs-left" id="CreateWebsiteAccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel20" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel20"><i class="icon-plus"></i>@Captions.New</h4>
            </div>
            @using (Html.BeginForm(MVC.MyRouter.Hotspot.ActionNames.AddIpWalledGarden, MVC.MyRouter.Hotspot.Name, FormMethod.Post,
htmlAttributes: new { @class = "form cmxform form-horizontal tasi-form", enctype = "multipart/form-data", id = "form" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                Dst Host
                                <div class="position-relative ltr">
                                    <input class="form-control" name="DstHost" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Dst Port
                                <div class="position-relative ltr">
                                    <input class="form-control" name="DstPort" placeholder="@Captions.LeaveBlankAllPort" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ltr"><br/>
                                <select name="Portocol" data-placeholder="Portocol" class="selectize-select" style="min-width:350px;" tabindex="2">
                                    <option value="">No</option>
                                    <option value="tcp">tcp</option>
                                    <option value="udp">udp</option>
                                    <option value="rdp">rdp</option>
                                    <option value="l2tp">l2tp</option>
                                    <option value="icmp">icmp</option>
                                    <option value="udp-lite">udp-lite</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ltr">
                                <label class="font-noraml">Server</label>
                                <select name="Server" data-placeholder="Server" class="selectize-select" style="min-width:350px;" tabindex="2">
                                    @foreach (var item in ViewBag.servers)
                                    {
                                        <option value="@item.name">@item.name</option>
                                    }
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ltr">
                                <label class="font-noraml">Action</label>
                                <select name="Action" data-placeholder="Action" class="selectize-select" style="min-width:350px;" tabindex="2">
                                    <option value="drop">Block</option>
                                    <option value="accept">Allow</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        <i class="icon-cross2"></i>
                        @Captions.Close
                    </button>
                    <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" type="button" class="btn btn-outline-success" onclick="AjaxForm.Post(this, 'CreateForm')" data-loading-text="@Captions.SendingData">
                        <i class="icon-check2"></i>
                        @Captions.Add
                    </button>
                </div>
            }
        </div>
    </div>
</div>
