@{
    Layout = null;
}
<!-- Modal -->
<div class="modal fade text-xs-left" id="CreateUserAccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel20" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel20"><i class="icon-plus"></i>@Captions.New</h4>
            </div>
            @using (Html.BeginForm(MVC.MyRouter.Hotspot.ActionNames.AddIpBindings, MVC.MyRouter.Hotspot.Name, FormMethod.Post,
        htmlAttributes: new { @class = "form cmxform form-horizontal tasi-form", enctype = "multipart/form-data", id = "form" }))
            {
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                Mac
                                <div class="position-relative">
                                    <input class="form-control" name="MacAddress" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                IP Address
                                <div class="position-relative">
                                    <input class="form-control" name="IpAddress" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                Nat To IP Address
                                <div class="position-relative">
                                    <input class="form-control" name="NatIpAddress" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="font-noraml">Server</label>
                                <select name="Server" data-placeholder="Server" class="selectize-select" style="min-width:350px;" tabindex="2">
                                    <option value="all">All</option>
                                    @foreach (var item in ViewBag.servers)
                                    {
                                        <option value="@item.name">@item.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="font-noraml">Type</label>
                                <select name="Type" data-placeholder="Types" class="selectize-select" style="min-width:350px;" tabindex="2">
                                    <option value="blocked">Drop</option>
                                    <option value="bypassed">Allow</option>
                                    <option value="regular">Nat Out By NAT IP</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        <i class="icon-cross2"></i>
                        @Captions.Close
                    </button>
                    <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" type="button" class="btn btn-outline-success" onclick="AjaxForm.Post(this, 'CreateForm')" data-loading-text="@Captions.SendingData">
                        <i class="icon-check2"></i>
                        @Captions.Add
                    </button>
                </div>
            }
        </div>
    </div>
</div>
