@model Netotik.ViewModels.Template.TemplateSettings
@{
    Layout = null;
}
<!-- Modal -->
<div class="modal fade text-xs-left" id="TemplateSetting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel20" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel20">@Captions.Configuration</h4>
            </div>
            @using (Html.BeginForm(MVC.MyRouter.Hotspot.ActionNames.ActiveTemplate, MVC.MyRouter.Hotspot.Name, FormMethod.Post,
        htmlAttributes: new { @class = "form cmxform form-horizontal tasi-form", enctype = "multipart/form-data", id = "form" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(x => x.PanelButton)
                            <div class="input-group">
                                <span class="input-group-addon ">
                                    <span class="skin skin-flat">
                                        @Html.CheckBoxFor(x => x.PanelButton)
                                    </span>
                                </span>
                                @Html.TextBoxFor(x => x.PanelButtonText, new { @class = "form-control", @Value = "ورود به پنل کاربری" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(x => x.RegisterButton)
                            <div class="input-group">
                                <span class="input-group-addon ">
                                    <span class="skin skin-flat">
                                        @Html.CheckBoxFor(x => x.RegisterButton)
                                    </span>
                                </span>
                                @Html.TextBoxFor(x => x.RegisterButtonText, new { @class = "form-control", @Value = "ثبت نام" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            @Html.LabelFor(x => x.InstagramButton)
                            <div class="input-group">
                                <span class="input-group-addon ">
                                    <span class="skin skin-flat">
                                        @Html.CheckBoxFor(x => x.InstagramButton)
                                    </span>
                                </span>
                                @Html.TextBoxFor(x => x.InstagramButtonLink, new { @class = "form-control ltr", @placeholder = "Netotik", @onkeyup = "document.getElementById('InstagramButtonLink2').value = 'Instagram.com/' + document.getElementById('InstagramButtonLink').value" })
                                <span class="input-group-addon">/https://www.instagram.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            @Html.LabelFor(x => x.TelegramButton)
                            <div class="input-group">
                                <span class="input-group-addon ">
                                    <span class="skin skin-flat">
                                        @Html.CheckBoxFor(x => x.TelegramButton)
                                    </span>
                                </span>
                                @Html.TextBoxFor(x => x.TelegramButtonLink, new { @class = "form-control ltr", @placeholder = "Netotik", @onkeyup = "document.getElementById('TelegramButtonLink2').value = 'Telegram.me/' + document.getElementById('TelegramButtonLink').value" })
                                <span class="input-group-addon">@@/https://telegram.me</span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-4 skin skin-flat">
                            @Html.CheckBoxFor(x => x.CustomButton)
                            @Html.LabelFor(x => x.CustomButton)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.CustomButtonLink, new { @class = "form-control", placeholder = "لینک دکمه" })
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.CustomButtonText, new { @class = "form-control", @placeholder = "متن دکمه" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 skin skin-flat">
                            <br />
                            @Html.CheckBoxFor(x => x.ShowTrialButton)
                            @Html.LabelFor(x => x.ShowTrialButton)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="form-section">@Html.LabelFor(x => x.Redirect)</h4>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" checked name="RedirectCheckBokValue" value="NoRedirect" />
                                    </span>
                                    <input type="text" class="form-control" readonly="yes" placeholder="غیره فعال">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="RedirectCheckBokValue" value="RedirectToTelegram" />
                                    </span>
                                    <input type="text" class="form-control ltr" readonly="yes" id="TelegramButtonLink2" placeholder="کانال تلگرام">
                                </div>
                            </div>
                            <br /><br />
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="RedirectCheckBokValue" id="input-radio-11" value="RedirectToInstagram" />
                                    </span>
                                    <input type="text" class="form-control ltr" readonly="yes" id="InstagramButtonLink2" placeholder="کانال اینستاگرام">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="radio" name="RedirectCheckBokValue" value="Redirect"/>
                                    </span>
                                    <input type="text" class="form-control ltr" placeholder="لینک دلخواه" value="http://" name="RedirectToUrl">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                        <i class="icon-cross2"></i>
                        @Captions.Close
                    </button>
                    <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" type="button" class="btn btn-outline-success" onclick="AjaxForm.Post(this, 'form')" data-loading-text="@Captions.SendingData">
                        <i class="icon-check2"></i>
                        @Captions.Add
                    </button>
                </div>
            }
        </div>
    </div>
</div>