@using Netotik.Resources;
@{
    ViewBag.Title = Captions.Access;

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-social width-200 btn-instagram" data-toggle="modal" data-target="#CreateUserAccess"><span class="icon-plus font-medium-4"></span>UsersAccess </button>
                @Html.Action(MVC.MyRouter.Hotspot.CreateIpBindings())
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <div class="form-body">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-12">
                                    @Captions.HotspotUserAccessDescription
                                </div>

                            </div>
                            <div class="row" style="min-height:150px;" id="list">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-social width-200 btn-instagram" data-toggle="modal" data-target="#CreateWebsiteAccess"><span class="icon-plus font-medium-4"></span>CreateWebsiteAccess </button>
                @Html.Action(MVC.MyRouter.Hotspot.CreateIpWalledGarden())
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <div class="form-body">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-12">
                                    @Captions.HotspotAddressesAccessDescription
                                </div>

                            </div>
                            <div class="row" style="min-height:150px;" id="list2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section UpScript{
    <link rel="stylesheet" type="text/css" href="~/Content/css/plugins/tables/extensions/buttons.dataTables.min.css">
}
@section DownScript{
    <script src="~/Content/js/plugins/tables/datatable/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="~/Content/js/plugins/tables/jszip.min.js" type="text/javascript"></script>
    <script src="~/Content/js/plugins/tables/pdfmake.min.js" type="text/javascript"></script>
    <script src="~/Content/js/plugins/tables/vfs_fonts.js" type="text/javascript"></script>
    <script src="~/Content/js/plugins/tables/buttons.html5.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(window).on("load", function () {
            CardBlock('#list');
            CardBlock('#list2');
            $.get("@Url.Action(MVC.MyRouter.Hotspot.LoadUsersAccess())", function (data) {
                $("#list").html(data);
                var table = $('#grid').dataTable({
                    "iDisplayLength": 10,
                    "bProcessing": true,
                    "bStateSave": true,
                    "bFilter": true,
                    dom: 'Bfrtip',
                    lengthMenu: [
                                 [10, 25, 50, -1],
                                 ['10', '25', '50', 'All']
                    ],
                    buttons: [
                        'copy', 'excel', 'pdf', 'pageLength'
                    ]
                });
                CardUnBlock('#list');
            }, "html");
            $.get("@Url.Action(MVC.MyRouter.Hotspot.LoadWebsitesAccess())", function (data) {
                $("#list2").html(data);
                var table = $('#grid2').dataTable({
                    "iDisplayLength": 10,
                    "bProcessing": true,
                    "bStateSave": true,
                    "bFilter": true,
                    dom: 'Bfrtip',
                    lengthMenu: [
                                 [10, 25, 50, -1],
                                 ['10', '25', '50', 'All']
                    ],
                    buttons: [
                        'copy', 'excel', 'pdf', 'pageLength'
                    ]
                });
                CardUnBlock('#list2');
            }, "html");
        });

        function IpBindigsRemove(id) {
            swal({
                title: "@Captions.AreYouSure",
                text: "@Captions.AfterRemoveCantRecover",
                type: "warning",
                showCancelButton: !0,
                confirmButtonColor: "#DA4453",
                confirmButtonText: "@Captions.YesRemove",
                cancelButtonText: "@Captions.NoCancel",
                closeOnConfirm: !1,
                closeOnCancel: !1
            }, function (a) {
                if (a) {
                    swal("@Captions.Removed", "@Captions.AfterRemoveCantRecover", "success");
                    PostData("@Url.Action(MVC.MyRouter.Hotspot.IpBindigsRemove())", { id: id });
                } else {
                    swal("@Captions.Canceled", "@Captions.RemoveActionCanceled", "error");
                }

            })
        }

        function IpBindigsDisable(id) {
            PostData("@Url.Action(MVC.MyRouter.Hotspot.IpBindigsDisable())", { id: id });
        }

        function IpBindigsEnable(id) {
            PostData("@Url.Action(MVC.MyRouter.Hotspot.IpBindigsEnable())", { id: id });
        }



        function IpWalledGardenRemove(id) {
            swal({
                title: "@Captions.AreYouSure",
                text: "@Captions.AfterRemoveCantRecover",
                type: "warning",
                showCancelButton: !0,
                confirmButtonColor: "#DA4453",
                confirmButtonText: "@Captions.YesRemove",
                cancelButtonText: "@Captions.NoCancel",
                closeOnConfirm: !1,
                closeOnCancel: !1
            }, function (a) {
                if (a) {
                    swal("@Captions.Removed", "@Captions.AfterRemoveCantRecover", "success");
                    PostData("@Url.Action(MVC.MyRouter.Hotspot.IpWalledGardenRemove())", { id: id });
                } else {
                    swal("@Captions.Canceled", "@Captions.RemoveActionCanceled", "error");
                }

            })
        }

        function IpWalledGardenDisable(id) {
            PostData("@Url.Action(MVC.MyRouter.Hotspot.IpWalledGardenDisable())", { id: id });
        }

        function IpWalledGardenEnable(id) {
            PostData("@Url.Action(MVC.MyRouter.Hotspot.IpWalledGardenEnable())", { id: id });
        }

    </script>
}
