@model IList<Netotik.Domain.Entity.ContentCategory>
@using Netotik.Common.Controller
@{
    Layout = null;
    var isRtl = CultureHelper.IsRightToLeft();
}


<div class="side-nav-head">
    <button class="fa fa-bars"></button>
    <h4 class="@(!isRtl ? "":"text-left")">@Captions.Subject</h4>
</div>
<ul class="list-group list-group-bordered list-group-noicon uppercase">
    <li class="list-group-item"><a href="@Url.Action(MVC.Blog.IndexFirst())">@Captions.Newest</a></li>
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action(MVC.Blog.ActionNames.Index, MVC.Blog.Name, new { categoryId = item.Id, tagId = "",page=1 })">
                <span class="size-11 text-muted pull-right">(@item.Contents.Where(x=>x.status==Netotik.Domain.Entity.ContentStatus.Accepted).Count())</span>
                @item.Name
            </a>
        </li>
    }
</ul>

