@model Netotik.ViewModels.CMS.Content.PublicTableContentModel
@{
    Layout = null;
}


@foreach (var item in Model.Contents)
{
    <div class="blog-post-item">
        <!-- .blog-post-item-inverse = image right side [left on RTL] -->
        <!-- IMAGE -->
        <figure class="blog-item-small-image margin-bottom-20">
            <img class="img-responsive" src="@Url.Content((!string.IsNullOrEmpty(item.Image) ? Path.Combine(Netotik.Common.Controller.FilePathes._imagesContentPath, item.Image) : "/Content/Upload/Image/Content/Default.png"))" alt="@item.Title">
        </figure>

        <div class="blog-item-small-content">

            <h2><a href="@Url.Action(MVC.Blog.Detail(item.Id))">@item.Title</a></h2>

            <ul class="blog-post-info list-inline">
                <li>
                    <a href="#">
                        <i class="fa fa-calendar"></i>
                        <span class="font-lato">@PersianDate.ConvertDate.ToFa(item.StartPublish, "D")</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-comments-o"></i>
                        <span class="font-lato">@item.CommentCount دیدگاه</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span class="font-lato">@item.User</span>
                    </a>
                </li>
            </ul>


            <p>
                @item.Description
            </p>
            <a href="@Url.Action(MVC.Blog.Detail(item.Id))" class="btn btn-reveal btn-default">
                <i class="fa fa-eye"></i>
                <span>ادامه مطلب</span>
            </a>
        </div>

    </div>
    
    
}
