@model Netotik.ViewModels.Content.PublicTableContentModel
@using Netotik.Common.Extensions
@using Netotik.Web.Extension

@{
    Layout = null;
}

@foreach (var item in Model.Contents)
{
    <div class="blog-post2">
        <div class="blog-box2">
            <div class="entry-date">
                <div class="day">@PersianDate.ConvertDate.ToFa(item.StartPublish, "dd")</div>
                <div class="month">@PersianDate.ConvertDate.ToFa(item.StartPublish, "MMM")</div>
            </div>
            <div class="entry-main-content">
                <div class="entry-thumbnail">
                    <img alt="" src="@Url.Content((!string.IsNullOrEmpty(item.Image) ? Path.Combine(_imagesContentPath, item.Image) : "/Content/img/1.jpg"))">
                    <div class="block_hover">
                        <div class="blog-link">
                            <a class="fancybox" href="@Url.Content((!string.IsNullOrEmpty(item.Image) ? Path.Combine(_imagesContentPath, item.Image) : "/Content/img/1.jpg"))"><i class="fa fa-search" data-fancybox-group="gallery"></i></a>
                            <a href="@Url.Action(MVC.Blog.ActionNames.Detail, MVC.Blog.Name, new { Id = item.Id, name = item.Title.GenerateSlug() })"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="entry-content-other">
                    <h3><a href="@Url.Action(MVC.Blog.ActionNames.Detail, MVC.Blog.Name, new { Id = item.Id, name = item.Title.GenerateSlug() })">@item.Title</a></h3>
                    <div class="summary">
                        @item.Description
                    </div>
                </div>
            </div>
        </div>
    </div>
}

