@model IList<Netotik.Domain.Entity.Content>
@{
    Layout = null;
}

@if (Model.Any())
{
    <div class="section-offset">
        <h3>محبوب ترین مطالب</h3>
        <ul class="list-of-entries">

            @foreach (var item in Model)
            {
                <li>
                    <div class="entry">
                        <a class="entry-thumb" href="@Url.Action(MVC.Blog.ActionNames.Detail, MVC.Blog.Name, new { Id = item.Id, name = item.Title.GenerateSlug() })">
                            <img alt="" src="@Url.Content((item.PictureId.HasValue ? Path.Combine(_imagesContentPath, item.Picture.FileName) : "/Content/img/1.jpg")+"?w=70&h=70")">
                        </a>
                        <div class="wrapper">
                            <h6 class="entry-title"><a href="@Url.Action(MVC.Blog.ActionNames.Detail, MVC.Blog.Name, new { Id = item.Id, name = item.Title.GenerateSlug() })">@item.Title</a></h6>
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar"></i> @PersianDate.ConvertDate.ToFa(item.StartDate.Value)</span>
                                <span><a class="comments" href="#"><i class="fa fa-eye"></i> @item.CountView</a></span>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}