@model Netotik.Domain.Entity.Content
@{
    Layout = null;
}


<ul class="blog-post-info list-inline">
    <li>
        <i class="fa fa-folder-open-o"></i>

        @foreach (var cat in Model.ContentCategories)
        {
            <a class="category" href="@Url.Action(MVC.Blog.Index(categoryId: cat.Id,tagId:null))">
                <span class="font-lato">@cat.Name</span>
            </a>
        }
    </li>

</ul>


@Html.Raw(Model.Body)

<div class="divider divider-dotted"><!-- divider --></div>


<!-- TAGS -->
@foreach (var item in Model.ContentTages)
{
    <a class="tag" href="@Url.Action(MVC.Blog.ActionNames.Index, MVC.Blog.Name, new { tagId = item.Id,categoryId=0,page=1 })">

        <span class="txt">@item.Name</span>
        <span class="num">@item.Contents.Count</span>
    </a>
}

<!-- /TAGS -->

<div class="divider"><!-- divider --></div>

