@model Netotik.Domain.Entity.Content
@{
    ViewBag.Title = (string.IsNullOrWhiteSpace(Model.MetaTitle) ? Model.Title : Model.MetaTitle);
    ViewBag.Keywords = (string.IsNullOrWhiteSpace(Model.MetaKeywords) ? Model.BodyOverview : Model.MetaKeywords);
    ViewBag.Description = (string.IsNullOrWhiteSpace(Model.MetaDescription) ? Model.BodyOverview : Model.MetaDescription);
}

<section class="page-header page-header-md parallax parallax-3" style="background-image:url('/Content/Upload/Image/Content/@(Model.PictureId.HasValue?Model.Picture.FileName:"Background.jpg")')">
    <div class="overlay dark-5"></div>
    <div class="container">
    </div>
</section>

<!-- -->
<section>
    <div class="container">

        <div class="row">

            @if (Model.HasSideBar)
            {
                <div class="col-md-3 col-sm-3">
                    @Html.Partial(MVC.Blog.Views._SideBar)
                </div>
            }
            <div class="@(Model.HasSideBar?"col-md-9 col-sm-9":"col-md-12 col-sm-12")">

                @Html.Partial(MVC.Blog.Views._Post)

            </div>
        </div>
    </div>
</section>





@*@if (Model.AllowViewComments)
    {
        @Html.Partial(MVC.Blog.Views._Comments, Model.ContentComments)
    }
    @if (Model.AllowComments)
    {
        @Html.Partial(MVC.Blog.Views._AddComment, new SmartyShop.Model.Comment.AddCommentModel() { ContentId = Model.Id })
    }*@


