@model Netotik.Domain.Entity.Content
@{
    ViewBag.Title = (string.IsNullOrWhiteSpace(Model.MetaTitle) ? Model.Title : Model.MetaTitle);
    ViewBag.Keywords = (string.IsNullOrWhiteSpace(Model.MetaKeywords) ? Model.BodyOverview : Model.MetaKeywords);
    ViewBag.Description = (string.IsNullOrWhiteSpace(Model.MetaDescription) ? Model.BodyOverview : Model.MetaDescription);
}

<section class="page-header page-header-2xlg parallax" style="background-image:url('/Content/Upload/Image/Content/@Model.Picture.FileName')">
    <div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container text-center">

        <h1>@Model.Title</h1>
        <span class="font-lato size-18 weight-300">@PersianDate.ConvertDate.ToFa(Model.StartDate.Value, "f")</span>
    </div>
</section>

<!-- -->
<section>
    <div class="container">

        <div class="row">

            <!-- LEFT -->
            <div class="col-md-3 col-sm-3">
                @Html.Partial(MVC.Blog.Views._SideBar)
            </div>

            <!-- RIGHT -->
            <div class="col-md-9 col-sm-9">

                @Html.Partial(MVC.Blog.Views._Post)

            </div>
        </div>
    </div>
</section>





@*@if (Model.AllowViewComments)
{
    @Html.Partial(MVC.Blog.Views._Comments, Model.ContentComments)
}
@if (Model.AllowComments)
{
    @Html.Partial(MVC.Blog.Views._AddComment, new SmartyShop.Model.Comment.AddCommentModel() { ContentId = Model.Id })
}*@


