@model Netotik.ViewModels.Content.PublicTableContentModel
@using PagedList
@using PagedList.Mvc

@{

}
@section Down{
    @Scripts.Render("~/bundles/jqueryval")
}



<div class="page-content">
    <div class="blog-area" style="padding-top: 30px;">
        <div class="container">
            <div class="row">
                @if (!string.IsNullOrEmpty(Model.Tag))
                {
                    <div class="titles">
                        <h4 class="cart-title">برچسب : @Model.Tag</h4>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.Category))
                {
                    <div class="titles">
                        <h4 class="cart-title">دسته : @Model.Category</h4>
                    </div>
                }
                <div class="col-xs-12 col-sm-4 col-md-4 pull-right">
                    @Html.Partial(MVC.Blog.Views._SideBar)
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    @Html.Partial(MVC.Blog.Views._List, Model)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-5 col-xs-offset-5 col-sm-offset-5">
        @Html.PagedListPager(new StaticPagedList<Netotik.ViewModels.Content.PublicItemContentModel>(Model.Contents, Model.Page, Model.Count, Model.Total), pageNumber => Url.Action(MVC.Blog.ActionNames.Index, MVC.Blog.Name, new
                                    {
                                        page = pageNumber,
                                        count = Model.Count,
                                        categoryId = Model.CategoryId,
                                        tagId = Model.TagId

                                    }), new PagedListRenderOptions
                                    {

                                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                        MaximumPageNumbersToDisplay = 6
                                    })
    </div>
</div>