@model Netotik.ViewModels.CMS.Content.PublicTableContentModel
@using PagedList
@using PagedList.Mvc

@{
    var meta = new Netotik.ViewModels.Common.Meta.MetaViewModel()
    {
        Title = string.Format("{0} | {1}", Captions.Netotik, Captions.Blog),
        Description = "Learning Miktotik and Netwotk Solution with Miktotik Platform",
        Keywords = "Connect Router Online, Radius System, learn netotik, news netotik, Mikrotik Crm, Netotik System",
        Conanical = Url.Action(MVC.Blog.Index()),
        OgTitle = string.Format("{0} | {1}", Captions.Netotik, Captions.Blog),
        OgUrl = Url.Action(MVC.Blog.Index()),
        OgDescription = "Learning Miktotik and Netwotk Solution with Miktotik Platform",
        OgSiteName = Captions.Netotik,
        OgTags = { "Connect Router Online", "learn netotik", "Radius System", "news netotik", "Netotik System" },
        OgType = "object"
    };
    if (Model.CategoryId.HasValue)
    {
        meta.OgArticleSection = Model.Category;
    }
}


@section Meta{
    @Html.Partial(MVC.SharedPublic.Views._Meta, meta)
}

<section class="page-header dark page-header-xs">
    <div class="container">
        <h1>@Captions.LastContent</h1>
    </div>
</section>


<section>
    <div class="container">

        <div class="row">

            <!-- LEFT -->
            <div class="col-md-3 col-sm-3">

                @Html.Partial(MVC.Blog.Views._SideBar)

            </div>

            <!-- RIGHT -->
            <div class="col-md-9 col-sm-9">
                @Html.Partial(MVC.Blog.Views._List, Model)

                <div class="text-center">
                    @Html.PagedListPager(new StaticPagedList<Netotik.ViewModels.CMS.Content.PublicItemContentModel>(Model.Contents, Model.Page, Model.Count, Model.Total), pageNumber => Url.Action(MVC.Blog.ActionNames.Index, MVC.Blog.Name, new
               {
                   page = pageNumber,
                   count = Model.Count,
                   categoryId = Model.CategoryId,
                   tagId = Model.TagId

               }), new PagedListRenderOptions
               {

                   DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                   DisplayLinkToLastPage = PagedListDisplayMode.Always,
                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                   DisplayLinkToNextPage = PagedListDisplayMode.Always,
                   MaximumPageNumbersToDisplay = 6
               })
                </div>
                <!-- /PAGINATION -->
            </div>

        </div>
    </div>
</section>
