@model Netotik.ViewModels.Identity.UserAdmin.AdminEditModel
@{
    ViewBag.Title = " ویرایش کاربر";
    var roles = ViewBag.Roles as List<SelectListItem>;
}
<section class="flexbox-container">
    <div class="row">
        <div class="col-md-12">
            @using(Html.BeginForm(MVC.Admin.User.ActionNames.Edit, MVC.Admin.User.Name, FormMethod.Post,
            htmlAttributes: new { @class = "form-horizontal", enctype = "multipart/form-data", id = "form" }))
            {
                @Html.HiddenFor(m=>m.Id)
                @Html.AntiForgeryToken()
                <div class="card">
                    <div class="card-header">
                        <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" class="btn btn-social width-100 btn-instagram" onclick="AjaxForm.Post(this, 'form')" data-loading-text="در حال ارسال اطلاعات">
                            <span class="icon-checkmark2 font-medium-4"></span>
                            @Netotik.Resources.Captions.Save
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <ul class="nav nav-tabs nav-underline nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" id="activeIcon12-tab1" data-toggle="tab" href="#property" aria-controls="activeIcon12" aria-expanded="true"><i class="icon-file-text"></i> مشخصات</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="linkIconOpt11-tab1" data-toggle="tab" href="#userGroups" aria-controls="linkIconOpt11"><i class="icon-users2"></i> گروه کاربری</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="linkIcon12-tab1" data-toggle="tab" href="#image" aria-controls="linkIcon12" aria-expanded="false"><i class="icon-camera5"></i> تصویر پروفایل</a>
                                </li>

                            </ul>
                            <div class="tab-content px-1 pt-1" style="min-height:260px!important">
                                <div role="tabpanel" class="tab-pane fade active in" id="property" aria-labelledby="activeIcon12-tab1" aria-expanded="true">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group has-icon-left">
                                                @Html.LabelFor(m => m.FirstName)
                                                <div class="position-relative has-icon-left">
                                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                                    <div class="form-control-position">
                                                        <i class="icon-head"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.FirstName, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group has-icon-left">
                                                @Html.LabelFor(m => m.LastName)
                                                <div class="position-relative has-icon-left">
                                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                                    <div class="form-control-position">
                                                        <i class="icon-user"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.LastName, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group has-icon-left">
                                                @Html.LabelFor(m => m.PhoneNumber)
                                                <div class="position-relative has-icon-left">
                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                                    <div class="form-control-position">
                                                        <i class="icon-phone"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-feedback has-icon-left">
                                                @Html.LabelFor(m => m.UserName)
                                                <div class="position-relative has-icon-left">
                                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                    <div class="form-control-position">
                                                        <i class="icon-user-tie"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.UserName, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group has-feedback has-icon-left">
                                                @Html.LabelFor(m => m.Email)
                                                <div class="position-relative has-icon-left">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                    <div class="form-control-position">
                                                        <i class="icon-mail"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Email, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="userGroups" role="tabpanel" aria-labelledby="linkIcon12-tab1" aria-expanded="false">
                                    <fieldset>
                                        @Netotik.Web.RazorHelpers.CheckBoxListBuilder.CheckBoxList("RoleIds", ViewBag.Roles)
                                    </fieldset>
                                </div>
                                <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="linkIconOpt11-tab1" aria-expanded="false">
                                    <fieldset>
                                        <div class="col-md-4">
                                            @Html.Partial("_SingleImageForm")
                                        </div>
                                        @Html.EditorFor(model => model.ImageAvatar)
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

