@model List<Netotik.Domain.Entity.Content>
@using Netotik.Common.Controller
@{
    Layout = null;
    var isRtl = CultureHelper.IsRightToLeft();
}


@if (Model.Any())
{
    <section>
        <div class="container">

            <header class="text-center margin-bottom-20">
                <h1 class="weight-300">@Captions.LastContent</h1>
            </header>

            <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>

                @foreach (var item in Model)
                {
                    <div class="img-hover">
                        <a title="@item.Title" href="@Url.Action(MVC.Blog.Detail(item.Id))">
                            <img class="img-responsive" src="@Url.Content(Path.Combine(Netotik.Common.Controller.FilePathes._imagesContentPath, item.PictureId.HasValue ? item.Picture.FileName:"Default.png"))?w=370&h=243&mode=crop" alt="@item.Title" />
                        </a>

                        <h4 class="margin-top-10 @(isRtl ? "text-right":"text-left")" style="min-height:70px;"><a href="@Url.Action(MVC.Blog.Detail(item.Id))">@item.Title</a></h4>
                        <ul class="@(isRtl ? "text-right":"text-left") size-12 list-inline list-separator">
                            <li>
                                <i class="fa fa-calendar"></i>
                                @PersianDate.ConvertDate.ToFa(item.StartDate.Value, "d")
                            </li>
                            <li>
                                <a title="@item.Title" href="@Url.Action(MVC.Blog.Detail(item.Id))">
                                    <i class="fa fa-eye"></i>
                                    @item.CountView
                                </a>
                            </li>
                            <li>
                                <a title="@item.Title" href="@Url.Action(MVC.Blog.Detail(item.Id))">
                                    <i class="fa fa-comments-o"></i>
                                    @item.CommentCount
                                </a>
                            </li>
                        </ul>
                        <p class="@(isRtl ? "text-right":"") text-justify" style="direction:@(isRtl ? "rtl":"ltr")">
                            @item.BodyOverview.Substring(0, Math.Min(250, item.BodyOverview.Length))
                        </p>

                    </div>
                }
            </div>

        </div>
    </section>


}
