@{
    var meta = new Netotik.ViewModels.Common.Meta.MetaViewModel()
    {
        Title = Captions.Netotik,
        Description = Captions.NetotikDescribtion,
        Keywords = "Connect Router Online, Radius System, Mikrotik Crm, Netotik System",
        Conanical = Url.Action(MVC.Home.Index()),
        OgTitle = string.Format("{0} | {1}", Captions.Netotik, Captions.HomeMenu),
        OgUrl = Url.Action(MVC.Home.Index()),
        OgDescription = "Online Mikrotik System Control",
        OgSiteName = Captions.Netotik,
        OgTags = { "Connect Router Online", "Radius System", "Netotik System" }
    };
}


@section Meta{
    @Html.Partial(MVC.SharedPublic.Views._Meta, meta)
}

@if (false)
{
    @Html.Action(MVC.Home.Slider())
}
else
{
    @Html.Partial(MVC.Home.Views._StaticSlider)
}

@Html.Action(MVC.Home.ActionNames.Section)

@Html.Action(MVC.Home.ActionNames.LastBlog)


@*<div class="callout alert alert-default noborder noradius nomargin">

    <div class="text-center">

        <h3>متخصصین ما بهترین راهکار را به شما پیشنهاد میدهند</h3>
        <p class="font-lato size-20">
            برای اطلاعات بیشتر و نحوه استفاده از سامانه نتوتیک می توانید با متخصصان ما مشورت کنید.
        </p>

        <a href="#purchase" rel="nofollow" target="_blank" class="btn btn-success btn-lg margin-top-30">
            <i class="et-envelope"></i>
            درخواست مشاوره رایگان
        </a>

    </div>

</div>*@

