@model Netotik.ViewModels.Shop.Manufacturer.ManufacturerModel
@{
    ViewBag.Title = " ویرایش برند ";
    string avatar = ViewBag.Avatar;
}

@using (Html.BeginForm(MVC.Admin.ShopManuFacturer.ActionNames.Edit, MVC.Admin.ShopManuFacturer.Name, FormMethod.Post,
                    htmlAttributes: new { @class = "form cmxform form-horizontal tasi-form", enctype = "multipart/form-data", id = "form" }))
{
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-md-12">
                <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" class="btn btn-outline btn-primary" onclick="AjaxForm.Post(this, 'form')" data-loading-text="در حال ارسال اطلاعات">
                    <span class="fa fa-check"></span>
                    @Netotik.Resources.Captions.Save
                </button>
                <button name="actionType" value="@Netotik.Common.Controller.ActionType.SaveContinue" class="btn btn-primary btn-outline" onclick="AjaxForm.Post(this, 'form')" data-loading-text="در حال ارسال اطلاعات">
                    <span class="fa fa-edit"></span>
                    @Netotik.Resources.Captions.SaveEdit
                </button>
                <a class="btn btn-default btn-outline pull-left" href="@Url.Action(MVC.Admin.ShopManuFacturer.ActionNames.Index, MVC.Admin.ShopManuFacturer.Name)">
                <span class="fa fa-reply"></span>
                @Netotik.Resources.Captions.Back
                </a>
            </div>

            <div class="col-md-12">
                @Html.ValidationSummary(false, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
    @Html.Partial("CreateOrEdit", Model)
}
