@{ 
    var counter = 1;
    var counter2 = 1;
}
<div class="row">
    @if (ViewBag.session == null)
    {
        <label>@Captions.ReportOfSessions</label>
        <div class="alert alert-danger">
            @Captions.CantConnectToRouter
        </div>
    }
    else
    {
        <table class="table table-striped table-bordered table-hover" id="grid">
            <thead>
                <tr>
                    <td>#</td>
                    <th>@Captions.UserName</th>
                    <th>@Captions.FromTime</th>
                    <th>@Captions.TillTime</th>
                    <th>@Captions.ConnectionOnlineTime</th>
                    <th>@Captions.Download (MB)</th>
                    <th>@Captions.Upload (MB)</th>
                    <th>Nas Port</th>
                    <th>Nas Port Type</th>
                    <th>Nas Port ID</th>
                    <th>Calling Station ID</th>
                    <th>Acct Session ID</th>
                    <th>User IP</th>
                    <th>Host IP</th>
                    <th>Status</th>
                    <th>Terminate Cause</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.session)
                {
                    <tr>
                        <td>@(counter++)</td>
                        <td>@item.user</td>
                        <td data-toggle="tooltip" data-original-title="<b>@item.from_timeT</b>" data-html="true">@item.from_time</td>
                        <td data-toggle="tooltip" data-original-title="<b>@item.till_timeT</b>" data-html="true">@item.till_time</td>
                        <td>@item.uptime.Replace("s", Captions.Secend).Replace("h", Captions.Hour).Replace("m", Captions.Minute).Replace("d", Captions.Day)</td>
                        <td>@((ulong.Parse(item.download) / 1048576))</td>
                        <td>@(ulong.Parse(item.upload) / 1048576)</td>
                        <td>@item.nas_port</td>
                        <td>@item.nas_port_type</td>
                        <td>@item.nas_port_id</td>
                        <td>@item.calling_station_id</td>
                        <td>@item.acct_session_id</td>
                        <td>@item.user_ip</td>
                        <td>@item.host_ip</td>
                        <td>@item.status</td>
                        <td>@item.terminate_cause</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div class="row">
    @if (ViewBag.WebsiteLogs == null)
    {
        <label>@Captions.WebsitesLogs</label>
        <div class="alert alert-danger">
            @Captions.CantConnectToRouter
        </div>
    }
    else
    {
        <table class="table table-striped table-bordered table-hover" id="grid2">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Captions.UserName</th>
                    <th>MikrotikCreateDate</th>
                    <th>Url</th>
                    <th>DstIp</th>
                    <th>Method</th>
                    <th>Protocol</th>
                    <th>SrcIp</th>
                    <th>SrcMac</th>



                    <th>MAC</th>
                    <th>Host IP</th>
                    <th>User IP</th>
                    <th>Customer</th>
                    <th>Nas Port</th>
                    <th>Nas Port Type</th>
                    <th>Nas Port ID</th>
                    <th>Acct Session Id</th>
                    <th>From Time</th>
                    <th>Till Time</th>
                    <th>Terminate Cause</th>
                    <th>Uptime</th>
                    <th>Download</th>
                    <th>Upload</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.WebsiteLogs)
                {
                    <tr>
                        <td>@(counter2++)</td>
                        <td>@item.user</td>
                        <td>@item.MikrotikCreateDate</td>
                        <td>@item.Url</td>
                        <td>@item.DstIp</td>
                        <td>@item.Method</td>
                        <td>@item.Protocol</td>
                        <td>@item.SrcIp</td>
                        <td>@item.SrcMac</td>
                        <td>@item.calling_station_id</td>
                        <td>@item.host_ip</td>
                        <td>@item.user_ip</td>
                        <td>@item.customer</td>
                        <td>@item.nas_port</td>
                        <td>@item.nas_port_type</td>
                        <td>@item.nas_port_id</td>
                        <td>@item.acct_session_id</td>
                        <td>@item.from_time</td>
                        <td>@item.till_time</td>
                        <td>@item.terminate_cause</td>
                        <td>@item.uptime</td>
                        <td>@item.download</td>
                        <td>@item.upload</td>
                        <td>@item.active</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>