
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("_Head")

    <link rel="shortcut icon" href="~/favicon.ico">
    @Styles.Render("~/Content/admincss")
    @RenderSection("ScriptUp", false)
</head>
<body>

    <div id="wrapper">


        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">

                    <li class="nav-header">
                        <div class="logo-element">
                            لوگو
                        </div>
                    </li>
                    @Html.Action(MVC.Home.ActionNames.SideBarMenu, MVC.Admin.Home.Name, new { area = "" })
                </ul>
            </div>
        </nav>


        <div id="page-wrapper" class="gray-bg dashbard-1">
            @Html.Action(MVC.Home.ActionNames.HeadMenu, MVC.Admin.Home.Name, new { area = "" })


            @Html.Partial(MVC.Shared.Views._BreadCrumb)

            <div class="wrapper wrapper-content ">
                @RenderBody()
            </div>

            <div class="footer">
                <div class="pull-left">
                    
                    Powered By 
                    <i class="fa fa-windows"></i>
                    Microsft Asp.net MVC
                </div>
                <div>
                    <strong>
                        کلیه حقوق محفوظ است
                    </strong> DNMA Groups &copy; 1394 - @(new System.Globalization.PersianCalendar().GetYear(DateTime.Now) + 1)
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/adminjs")
   
    @Scripts.Render("~/bundles/jqueryval")

    



    @Html.Partial(MVC.Shared.Views._MessageResult)

    @RenderSection("DownScript", false)

</body>


</html>

