@model Netotik.ViewModels.Identity.UserClient.ProfileLimitionCreateModel
@{
    ViewBag.Title = Netotik.Resources.Captions.NewPackage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="flexbox-container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm(MVC.Company.UserManager.ActionNames.PackageCreate, MVC.Company.UserManager.Name, FormMethod.Post,
                                                                    htmlAttributes: new { @class = "form cmxform form-horizontal tasi-form", enctype = "multipart/form-data", id = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card">
                    <div class="card-header">
                        <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" class="btn btn-social width-100 btn-instagram" onclick="AjaxForm.Post(this, 'form')" data-loading-text="در حال ارسال اطلاعات">
                            <span class="icon-checkmark2 font-medium-4"></span>
                            @Netotik.Resources.Captions.Save
                        </button>

                        <div class="col-md-12">
                            @Html.ValidationSummary(false, "", htmlAttributes: new { @class = "text-danger" })
                            <span class="text-danger">@Netotik.Resources.Captions.JustEnglish</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <ul class="nav nav-tabs nav-underline nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" id="activeIcon12-tab1" data-toggle="tab" href="#profile" aria-controls="activeIcon12" aria-expanded="true"><i class="icon-file-text"></i>@Netotik.Resources.Captions.Properties</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="linkIconOpt11-tab1" data-toggle="tab" href="#time" aria-controls="linkIconOpt11"><i class="icon-ios-time"></i>@Netotik.Resources.Captions.Time</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="linkIcon12-tab1" data-toggle="tab" href="#traffic" aria-controls="linkIcon12" aria-expanded="false"><i class="icon-data"></i>@Netotik.Resources.Captions.Traffic</a>
                                </li>
                            </ul>

                            <div class="tab-content px-1 pt-1" style="min-height:260px!important">

                                <div class="tab-pane active form-horizontal" id="profile">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group has-icon-left">
                                                @Html.LabelFor(m => m.profile_name)
                                                <div class="position-relative has-icon-left">
                                                    @Html.TextBoxFor(m => m.profile_name, new { @class = "form-control" })
                                                    <div class="form-control-position">
                                                        <i class="icon-head"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.profile_name, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group has-icon-left">
                                                @Html.LabelFor(m => m.profile_name_for_users)
                                                <div class="position-relative has-icon-left">
                                                    @Html.TextBoxFor(m => m.profile_name_for_users, new { @class = "form-control" })
                                                    <div class="form-control-position">
                                                        <i class="icon-head"></i>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.profile_name_for_users, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.profile_price)
                                                <div class="position-relative">
                                                    <div class="input-group m-b"><span class="input-group-addon">@Netotik.Resources.Captions.Price</span>@Html.TextBoxFor(model => model.profile_price, new { @class = "form-control" }) <span class="input-group-addon">@Netotik.Resources.Captions.Toman</span></div>
                                                    @Html.ValidationMessageFor(model => model.profile_price, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">@Netotik.Resources.Captions.SharedUsers</span>
                                                <select class="form-control m-b" name="onlineusers" id="onlineusers">
                                                    <option value="-1">@Netotik.Resources.Captions.Unlimited</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">@Netotik.Resources.Captions.StartAt</span>
                                                <select class="form-control m-b" name="startat" id="startat">
                                                    <option value="now">@Netotik.Resources.Captions.PackageBind</option>
                                                    <option value="logon">@Netotik.Resources.Captions.FirstConnection</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane form-horizontal" id="time">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">@Netotik.Resources.Captions.FromTime</span>
                                                <div class="input-group clockpicker" data-autoclose="true">
                                                    <input type="text" class="form-control input-lg time" value="00:00" id="fromtime" name="fromtime">
                                                    <span class="input-group-addon">
                                                        <span class="icon-ios-time"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">@Netotik.Resources.Captions.TillTime</span>
                                                <div class="input-group clockpicker" data-autoclose="true">
                                                    <input type="text" class="form-control input-lg time" value="23:59" id="tilltime" name="tilltime">
                                                    <span class="input-group-addon">
                                                        <span class="icon-ios-time"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <label>@Netotik.Resources.Captions.WeekDays</label>
                                                <select data-placeholder="@Netotik.Resources.Captions.WeekDays" class="selectize-multiple selectize-select" multiple id="weekdays" name="weekdays">
                                                    <option selected value="1">@Netotik.Resources.Captions.Saturday</option>
                                                    <option selected value="2">@Netotik.Resources.Captions.Sunday</option>
                                                    <option selected value="3">@Netotik.Resources.Captions.Monday</option>
                                                    <option selected value="4">@Netotik.Resources.Captions.Tuesday</option>
                                                    <option selected value="5">@Netotik.Resources.Captions.Wednesday</option>
                                                    <option selected value="6">@Netotik.Resources.Captions.Thursday</option>
                                                    <option selected value="7">@Netotik.Resources.Captions.Friday</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <label>@Netotik.Resources.Captions.ConnectionOnlineTime (@Netotik.Resources.Captions.ZeroToUnlimited)</label><br />
                                            <div class="col-md-3">
                                                <label>@Netotik.Resources.Captions.Minute</label>
                                                <input type="text" value="0" class="dial m-l" data-fgColor="#1AB394" data-width="70" data-height="70" data-max="59" id="onlinemin" name="onlinemin" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>@Netotik.Resources.Captions.Hour</label>
                                                <input type="text" value="0" class="dial m-l" data-fgColor="#1AB394" data-width="70" data-height="70" data-max="23" id="onlinehour" name="onlinehour" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>@Netotik.Resources.Captions.Day</label>
                                                <input type="text" value="0" class="dial m-l" data-fgColor="#1AB394" data-width="70" data-height="70" data-max="29" id="onlineday" name="onlineday" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>@Netotik.Resources.Captions.Month</label>
                                                <input type="text" value="0" class="dial m-l" data-fgColor="#1AB394" data-width="70" data-height="70" data-max="99" id="onlinemon" name="onlinemon" />
                                            </div>
                                        </div>
                                        <br /><br /><br /><br />
                                        <div class="col-md-10">
                                            <label>@Netotik.Resources.Captions.AccountValidity (@Netotik.Resources.Captions.ZeroToUnlimited)</label><br />
                                            <div class="col-md-3">
                                                <label>@Netotik.Resources.Captions.Minute</label>
                                                <input type="text" value="0" class="dial m-l" data-fgColor="#2AB394" data-width="70" data-height="70" data-max="59" id="onlineusermin" name="onlineusermin" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>@Netotik.Resources.Captions.Hour</label>
                                                <input type="text" value="0" class="dial m-l" data-fgColor="#2AB394" data-width="70" data-height="70" data-max="23" id="onlineuserhour" name="onlineuserhour" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>@Netotik.Resources.Captions.Day</label>
                                                <input type="text" value="0" class="dial m-l" data-fgColor="#2AB394" data-width="70" data-height="70" data-max="29" id="onlineuserday" name="onlineuserday" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>@Netotik.Resources.Captions.Month</label>
                                                <input value="0" class="dial m-l" data-fgColor="#2AB394" data-width="70" data-height="70" data-max="99" id="onlineusermon" name="onlineusermon" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane form-horizontal" id="traffic">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>@Netotik.Resources.Captions.DownloadTrafficLimit</label>
                                            <div class="input-group">
                                                <input type="text" disabled class="form-control m-b" style="height:45px !important;" placeholder="0" name="downloadlimit-Disabled" id="downloadlimit-Disabled" />
                                                <div class="input-group-addon">
                                                    <select name="downloadlimitB" id="downloadlimitB">
                                                        <option value="1">MB</option>
                                                        <option value="2">GB</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>@Netotik.Resources.Captions.UploadTrafficLimit</label>
                                            <div class="input-group">
                                                <input type="text" disabled class="form-control m-b" style="height:45px !important;" placeholder="0" name="uploadlimit-Disabled" id="uploadlimit-Disabled" />
                                                <div class="input-group-addon">
                                                    <select name="uploadlimitB" id="uploadlimitB">
                                                        <option value="1">MB</option>
                                                        <option value="2">GB</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>@Netotik.Resources.Captions.DownloadUploadTrafficLimit</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control m-b" style="height:45px !important;" placeholder="0" name="downloaduploadlimit" id="downloaduploadlimit" />
                                                <div class="input-group-addon">
                                                    <select name="downloaduploadlimitB" id="downloaduploadlimitB">
                                                        <option value="1">MB</option>
                                                        <option value="2">GB</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <label>@Netotik.Resources.Captions.DownloadSpeedLimit</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control m-b" style="height:45px !important;" placeholder="0" name="uploadrate" id="uploadrate" />
                                                <div class="input-group-addon">
                                                    <select name="uploadrateB" id="uploadrateB">
                                                        <option value="1">KB</option>
                                                        <option value="2">kb</option>
                                                        <option value="3">MB</option>
                                                        <option value="4">mb</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>@Netotik.Resources.Captions.UploadSpeedLimit</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control m-b" style="height:45px !important;" placeholder="0" name="downloadrate" id="downloadrate" />
                                                <div class="input-group-addon">
                                                    <select name="downloadrateB" id="downloadrateB">
                                                        <option value="1">KB</option>
                                                        <option value="2">kb</option>
                                                        <option value="3">MB</option>
                                                        <option value="4">mb</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section ScriptUp{
    <link rel="stylesheet" type="text/css" href="~/Content/css/plugins/extensions/timedropper.min.css">
}
@section DownScript {
    <script src="~/Content/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script src="~/Content/js/plugins/extensions/timedropper.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $('.dial')
                .knob();
        });

        $(document).ready(function () {
            $(".time").timeDropper({
                init_animation: "dropDown",
                format: "HH:mm",
                setCurrentTime: false,
                meridians: !0
            })
        });

        $(document).ready(function () {
            $(".input-selectize").selectize({
                persist: !1,
                createOnBlur: !0,
                create: !0
            });
        });

    </script>
}
