@model Netotik.Domain.Entity.Order
@using Netotik.Web.Extension
@{
    ViewBag.Title = "فاکتور : " + Model.Id;
}

<div class="col-lg-12" id="ContentPage">

    <section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue ">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#profile"><i class="icon icon-info-sign"></i> اطلاعات فاکتور : @Model.Id </a>

                </li>
                <li>
                    <a data-toggle="tab" href="#payments"><i class="icon icon-credit-card"></i> پرداخت ها</a>
                </li>
            </ul>
        </header>
        <div class="panel-body">
            <div class="tab-content">
                <div id="profile" class="tab-pane active form-horizontal">

                    <div class="row">
                        <table class="table table-responsive">
                            <caption class="alert-success">اطلاعات خریدار</caption>
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-user"></i>
                                        نام :
                                        @Model.Address.FirstName @Model.Address.LastName
                                    </td>
                                    <td>
                                        <i class="fa fa-envelope-square"></i>
                                        ایمیل :
                                        @Model.Address.Email
                                    </td>
                                    <td>
                                        <i class="fa fa-mobile"></i>
                                        شماره همراه :
                                        @Model.Address.MobileNumber
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <i class="fa fa-truck"></i>
                                        شیوه ارسال:
                                        @Model.ShippingMethod.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <i class="fa fa-map-marker"></i>
                                        آدرس:
                                        @Model.Address.AddressCity.AddressState.Name , @Model.Address.AddressCity.Name , @Model.Address.AddressDescription ( کد پستی : @Model.Address.PostalCode )
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <i class="fa fa-list"></i>
                                        توضیحات:
                                        @Model.Description
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <table class="table table-striped table-condensed table-hover ">
                            <caption class="alert-info">فاکتور فروش</caption>
                            <thead>
                                <tr class="bg-info">
                                    <td width="20px">#</td>
                                    <td>تصویر</td>
                                    <td>نام محصول</td>
                                    <td>تعداد </td>
                                    <td>قیمت واحد </td>
                                    <td>قیمت کل </td>
                                    <td>تخفیف</td>
                                    <td>مالیات</td>
                                    <td>مبلغ پرداختی</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int counter = 1;
                                }
                                @foreach (var item in Model.OrderItems)
                                {
                                    <tr>
                                        <td style="vertical-align:middle">@(counter++) </td>
                                        <td style="vertical-align:middle"><img src="@Url.Content(!item.Product.PictureId.HasValue ? " />Content/img/1.jpg" : Path.Combine(FileManager._imagesShopProductPath, item.Product.Picture.FileName))?w=70&h=60" alt="@item.Product.Name"></td>
                                        <td style="vertical-align:middle">@item.Product.Name</td>
                                        <td style="vertical-align:middle">  @String.Format("{0:0,0}", item.Quantity) </td>
                                        <td style="vertical-align:middle"> @String.Format("{0:0,0}", item.UnitPrice) </td>
                                        <td style="vertical-align:middle"> @String.Format("{0:0,0}", item.Quantity * item.UnitPrice)</td>
                                        <td style="vertical-align:middle">@String.Format("{0:0,0}", item.Quantity * item.UnitDiscountPrice)</td>
                                        <td style="vertical-align:middle">@String.Format("{0:0,0}", item.Quantity * item.UnitTaxPrice)</td>
                                        <td style="vertical-align:middle">@String.Format("{0:0,0}", item.PeymentPrice)</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">مجموع خرید : </td>
                                    <td colspan="7">@string.Format("{0:0,0}", Model.TotalPrice) </td>
                                </tr>
                                <tr>
                                    <td colspan="2">هزینه ارسال:</td>
                                    <td colspan="7">@string.Format("{0:0,0}", Model.TotalShippingPrice) </td>
                                </tr>
                                <tr>
                                    <td colspan="2">مالیات :</td>
                                    <td colspan="7">@string.Format("{0:0,0}", Model.TotalTaxPrice)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">مجموع تخفیف محصولات :</td>
                                    <td colspan="7">@string.Format("{0:0,0}", Model.TotalProductDiscountPrice) </td>
                                </tr>
                                <tr>
                                    <td colspan="2">تخفیف فاکتور</td>
                                    <td colspan="7">@string.Format("{0:0,0}", Model.TotalFactorDiscountPrice)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">تخفیف کوپن</td>
                                    <td colspan="7">@string.Format("{0:0,0}", Model.TotalFactorCouponDiscountPrice)</td>
                                </tr>
                                <tr class="bg-success">
                                    <td colspan="2">مبلغ پرداختی</td>
                                    <td colspan="7">@string.Format("{0:0,0}", Model.PaymentPrice)</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="payments" class="tab-pane">

                    <div class="row">
                        <table class="table table-striped table-condensed table-hover ">
                            <thead>
                                <tr class="bg-info">
                                    <td width="20px">#</td>
                                    <td>درگاه بانکی</td>
                                    <td>مبلغ پرداختی </td>
                                    <td>تاریخ </td>
                                    <td>وضعیت</td>
                                    <td>شماره تراکنش </td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    counter = 1;
                                }
                                @foreach (var item in Model.OrderPayments)
                                {
                                    <tr>
                                        <td style="vertical-align:middle">@(counter++) </td>
                                        <td style="vertical-align:middle">@item.PaymentType.Name</td>
                                        <td style="vertical-align:middle">  @String.Format("{0:0,0}", item.Amont) </td>
                                        <td style="vertical-align:middle">@PersianDate.ConvertDate.ToFa(item.CreateDate) @PersianDate.ConvertDate.ToFa(item.CreateDate, "t")</td>
                                        <td style="vertical-align:middle">@(item.IsSucess ? "موفق" : "ناموفق")</td>
                                        <td style="vertical-align:middle">@item.TransactionId</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            @if (Model.OrderStatus == Netotik.ViewModels.Common.OrderStatus.WaitForProcess)
            {
                <form role="form" method="post" action="@Url.Action(MVC.Admin.Order.ActionNames.AcceptOrder,MVC.Admin.Order.Name)">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <button class="btn btn-primary btn-block" type="submit">تایید اطلاعات</button>
                </form>
            }
        </div>
    </section>
</div>
