@using Netotik.Domain.Entity
@model Netotik.ViewModels.Common.Error.ErrorInfoModel
@{
    var setting = ViewBag.siteConfig as Netotik.ViewModels.Common.Setting.GeneralSettingModel;
    Layout = null;
    var user = Html.CurrentUser();
}
<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>@Captions.Netotik | @Model.Message</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Images/Logo/faveicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Images/Logo/faveicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Images/Logo/faveicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/Logo/faveicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Images/Logo/faveicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Images/Logo/faveicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Images/Logo/faveicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Images/Logo/faveicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Images/Logo/faveicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Images/Logo/faveicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/Logo/faveicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Images/Logo/faveicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/Logo/faveicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Images/Logo/faveicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Images/Logo/faveicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/admincss")
    @Html.Action(MVC.Home.HeaderPanelCss())

</head>
<body data-open="hover" data-menu="horizontal-top-icon-menu" data-col="1-column" class="horizontal-layout horizontal-top-icon-menu 1-column  blank-page blank-page">

    <div class="robust-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1">
                        <div class="card-header bg-transparent no-border">
                            <h2 class="error-code text-xs-center mb-2">503</h2>
                            <h3 class="text-uppercase text-xs-center">@Captions.ServiceUnavailable</h3>
                        </div>
                        <div class="card-body collapse in">
                            @*<fieldset class="row py-2">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control form-control-lg input-lg border-grey border-lighten-1 " placeholder="Search..." aria-describedby="button-addon2">
                                        <span class="input-group-btn" id="button-addon2">
                                            <button class="btn btn-lg btn-secondary border-grey border-lighten-1" type="button"><i class="icon-ios-search-strong"></i></button>
                                        </span>
                                    </div>
                                </fieldset>*@
                            <div class="row py-2">


                                @if (Session["Client"] != null)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <a href="@Url.Action(MVC.Home.Index())" class="btn btn-primary btn-block font-small-3"><i class="icon-home3"></i> @Captions.BacktoHome</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <a href="@Url.Action(MVC.Client.Home.Index())" class="btn btn-danger btn-block font-small-3"><i class="icon-dashboard"></i>  @Captions.Dashboard </a>
                                    </div>

                                }
                                else if (User.Identity.IsAuthenticated)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <a href="@Url.Action(MVC.Home.Index())" class="btn btn-primary btn-block font-small-3"><i class="icon-home3"></i> @Captions.BacktoHome</a>
                                    </div>
                                    if (user.UserType == UserType.UserAdmin)
                                    {
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <a href="@Url.Action(MVC.Admin.Home.Index())" class="btn btn-danger btn-block font-small-3"><i class="icon-dashboard"></i>  @Captions.AdminPanel </a>
                                        </div>
                                    }
                                    else if (user.UserType == UserType.UserReseller)
                                    {
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <a href="@Url.Action(MVC.Reseller.Home.Index())" class="btn btn-danger btn-block font-small-3"><i class="icon-dashboard"></i>  @Captions.ResellerPanel </a>
                                        </div>
                                    }
                                    else if (user.UserType == UserType.UserRouter)
                                    {
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <a href="@Url.Action(MVC.MyRouter.Home.Index())" class="btn btn-danger btn-block font-small-3"><i class="icon-dashboard"></i>  @Captions.RouterPanel </a>
                                        </div>
                                    }
                                    else if (user.UserType == UserType.Client)
                                    {
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <a href="@Url.Action(MVC.Client.Home.Index())" class="btn btn-danger btn-block font-small-3"><i class="icon-dashboard"></i>  @Captions.UserPanel </a>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <a href="@Url.Action(MVC.Home.Index())" class="btn btn-success btn-block font-small-3"><i class="icon-home3"></i> @Captions.BacktoHome</a>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="row">
                                <div class="text-xs-center">
                                    @if (string.IsNullOrWhiteSpace(setting.Facebook))
                                    {
                                        <a target="_blank" href="@setting.Facebook" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"><span class="icon-facebook3"></span></a>
                                    }
                                    @if (string.IsNullOrWhiteSpace(setting.Twitter))
                                    {
                                        <a target="_blank" href="@setting.Twitter" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"><span class="icon-twitter3"></span></a>
                                    }
                                    @if (string.IsNullOrWhiteSpace(setting.LinkedIn))
                                    {
                                        <a target="_blank" href="@setting.LinkedIn" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin"><span class="icon-linkedin3 font-medium-4"></span></a>
                                    }
                                    @if (string.IsNullOrWhiteSpace(setting.GooglePlus))
                                    {
                                        <a href="@setting.GooglePlus" class="btn btn-social-icon mr-1 mb-1 btn-outline-google"><span class="icon-google-plus font-medium-4"></span></a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/paneljs")
    @Scripts.Render("~/bundles/jqueryvalpanel")
</body>
</html>
