<!DOCTYPE html>
<html>
<head>
    <meta name="theme-color" content="#13232f" />
    <meta name="msapplication-navbutton-color" content="#13232f">
    <meta name="apple-mobile-web-app-status-bar-style" content="#13232f">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <title>ورود</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        body {
            /**background: #c1bdba;**/
        }

        body {
            background-image: url(img/background.png);
            background-repeat: no-repeat;
        }
    </style>

    <script language="JavaScript">
        function startClock() {
                    @Html.Raw("$(if popup == 'true')")
            open('$(link-status)', 'hotspot_status', 'toolbar=0,location=0,directories=0,status=0,menubars=0,resizable=1,width=290,height=200');
            $(endif)
                    @if(Model.Redirect)
                    {
                        if(Model.RedirectToInstagram)
                        {
                            @Html.Raw("location.href = '"+Model.InstagramButtonLink+"';")
                        }else if (Model.RedirectToTelegram)
                        {
                            @Html.Raw("location.href = '"+Model.TelegramButtonLink+"';")
                        }else
                        {
                            @Html.Raw("location.href = '"+Model.RedirectToUrl+"';")
                        }

                    } else
                    {
                        @Html.Raw("location.href = '$(link-redirect)';")
                    }
        }
    </script>
</head>
<body onLoad="startClock()">
    <div class="form">
        <h1><img src="img/logo.png" /></h1>

        <ul class="tab-group">
            <li class="tab active"><a href="#persian">فارسی</a></li>
            <li class="tab"><a href="#english">English</a></li>
        </ul>
        <div class="tab-content">
            <div id="persian" style="direction:rtl; color:white;">


                <table width="100%" height="100%" style="direction:rtl; color:white;">
                    <tr>
                        <td align="center" valign="middle">
                            شما وارد شدید
                            <br><br>
                            اگر به سایت مورد نظر منتقل نشدید ،  <a href="$(link-redirect)">اینجا </a> کلیک کنید
                        </td>
                    </tr>
                </table><br />

                <ul class="tab-group">
                    @if (Model.RegisterButton)
                    {
                        <li class="tab">
                            <a href="@Model.RegisterButtonLink" target="_blank" style="margin-top:5px !important;text-decoration:none !important;">@Model.RegisterButtonText</a>
                        </li>}
                    @if (Model.PanelButton)
                    {
                        <li class="tab">
                            <a href="@Model.PanelButtonLink" target="_blank" style="margin-top:5px !important;text-decoration:none !important;">@Model.PanelButtonText</a>
                        </li>}
                    @if (Model.CustomButton)
                    {
                        <li class="tab">
                            <a href="@Model.CustomButtonLink" target="_blank" style="margin-top:5px !important;text-decoration:none !important;">@Model.CustomButtonText</a>
                        </li>}
                </ul>
                <center>
                    @if (Model.TelegramButton)
                    {
                        <a href="@Model.TelegramButtonLink" target="_blank"><img width="80" height="80" src="img/telegram.png" /></a>
                    }
                    @if (Model.InstagramButton)
                    {
                        <a href="@Model.InstagramButtonLink" target="_blank"><img width="80" height="80" src="img/instagram.png" /></a>
                    }
                </center>
            </div>

            <div id="english">



                <table width="100%" height="100%" style="direction:rtl; color:white;">
                    <tr>
                        <td align="center" valign="middle">
                            You Are Logined!
                            <br><br>
                            if not redirect to your site ،  <a href="$(link-redirect)">Click Here </a>.
                        </td>
                    </tr>
                </table><br />
                <ul class="tab-group">
                    @if (Model.RegisterButton)
                    {
                        <li class="tab">
                            <a href="@Model.RegisterButtonLink" target="_blank" style="margin-top:5px !important;text-decoration:none !important;">Register</a>
                        </li>}
                    @if (Model.PanelButton)
                    {
                        <li class="tab">
                            <a href="@Model.PanelButtonLink" target="_blank" style="margin-top:5px !important;text-decoration:none !important;">User Panel</a>
                        </li>}
                    @if (Model.CustomButton)
                    {
                        <li class="tab">
                            <a href="@Model.CustomButtonLink" target="_blank" style="margin-top:5px !important;text-decoration:none !important;">@Model.CustomButtonText</a>
                        </li>}
                </ul>
                <center>
                    @if (Model.TelegramButton)
                    {
                        <a href="@Model.TelegramButtonLink" target="_blank"><img width="80" height="80" src="img/telegram.png" /></a>
                    }
                    @if (Model.InstagramButton)
                    {
                        <a href="@Model.InstagramButtonLink" target="_blank"><img width="80" height="80" src="img/instagram.png" /></a>
                    }
                </center>
            </div>
        </div>
    </div> <!-- /form -->
    <script src='js/jquery.min.js'></script>
    <script src="js/index.js"></script>
</body>
</html>
