@model Netotik.ViewModels.Template.TemplateSettings
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login | ورود</title>
    <meta name="theme-color" content="#13232f" />
    <meta name="msapplication-navbutton-color" content="#13232f">
    <meta name="apple-mobile-web-app-status-bar-style" content="#13232f">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    $(if chap-id)
    <form name="sendin" action="$(link-login-only)" method="post">
        <input type="hidden" name="username" />
        <input type="hidden" name="password" />
        <input type="hidden" name="dst" value="$(link-orig)" />
        <input type="hidden" name="popup" value="true" />
    </form>

    <script type="text/javascript" src="/md5.js"></script>
    <script type="text/javascript">
							function doLogin() {
							document.sendin.username.value = document.login.username.value;
							document.sendin.password.value = hexMD5('$(chap-id)' + document.login.password.value + '$(chap-challenge)');
							document.sendin.submit();
							return false;
							}
    </script>
    $(endif)

    <div class="form">
        <h1><img src="img/logo.png" width=150 /></h1>
        <ul class="tab-group">
            <li class="tab active"><a href="#Per">فارسی</a></li>
            <li class="tab"><a href="#Eng">English</a></li>
        </ul>

        <div class="tab-content">
            <div id="Per">
                <form name="login" action="$(link-login-only)" method="post" $(if chap-id) onSubmit="return doLogin()" $(endif)>
                    <input type="hidden" name="dst" value="$(link-orig)" />
                    <input type="hidden" name="popup" value="true" />
                    <div class="field-wrap">
                        <label>
                            نام کاربری<span class="req">*</span>
                        </label>
                        <input required autocomplete="off" name="username" type="text" value="$(username)" />
                    </div>
                    <div class="field-wrap">
                        <label>
                            گذرواژه<span class="req">*</span>
                        </label>
                        <input type="password" autocomplete="off" name="password" />
                    </div>
                    <button type="submit" class="button button-block">ورود</button><br />
                    $(if error)<br /><div style="color: #FF8080; ">$(error)</div><br />$(endif)
                </form>

                <br />

                <ul class="tab-group">
                    @if (Model.RegisterButton)
                    {
                        <li>
                            <a href="@Model.RegisterButtonLink" target="_blank">@Model.RegisterButtonText</a>
                        </li>}
                    @if (Model.PanelButton)
                    {
                        <li>
                            <a href="@Model.PanelButtonLink" target="_blank">@Model.PanelButtonText</a>
                        </li>}
                    @if (Model.CustomButton)
                    {
                        <li>
                            <a href="@Model.CustomButtonLink" target="_blank">@Model.CustomButtonText</a>
                        </li>}
                </ul>
                <center>
                    @if (Model.TelegramButton)
                    {
                        <a href="@Model.TelegramButtonLink" target="_blank"><img width="70" height="70" src="img/telegram.png" /></a>
                    }
                    @if (Model.InstagramButton)
                    {
                        <a href="@Model.InstagramButtonLink" target="_blank"><img width="70" height="70" src="img/instagram.png" /></a>
                    }
                </center>
            </div>

            <div id="Eng">
                <form name="login2" action="$(link-login-only)" method="post" $(if chap-id) onSubmit="return doLogin()" $(endif)>
                    <input type="hidden" name="dst" value="$(link-orig)" />
                    <input type="hidden" name="popup" value="true" />
                    <div class="field-wrap">
                        <label>
                            Username<span class="req">*</span>
                        </label>
                        <input required autocomplete="off" name="username" type="text" value="$(username)" />
                    </div>
                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" autocomplete="off" name="password" />
                    </div>
                    <button type="submit" class="button button-block">Login</button><br />
                    $(if error)<br /><div style="color: #FF8080; ">$(error)</div><br />$(endif)
                </form>

                <br />

                <ul class="tab-group">
                    @if (Model.RegisterButton)
                    {
                        <li>
                            <a href="@Model.RegisterButtonLink" target="_blank">Register</a>
                        </li>}
                    @if (Model.PanelButton)
                    {
                        <li>
                            <a href="@Model.PanelButtonLink" target="_blank">User Panel</a>
                        </li>}
                    @if (Model.CustomButton)
                    {
                        <li>
                            <a href="@Model.CustomButtonLink" target="_blank">@Model.CustomButtonText</a>
                        </li>}
                </ul>
                <center>
                    @if (Model.TelegramButton)
                    {
                        <a href="@Model.TelegramButtonLink" target="_blank"><img width="70" height="70" src="img/telegram.png" /></a>
                    }
                    @if (Model.InstagramButton)
                    {
                        <a href="@Model.InstagramButtonLink" target="_blank"><img width="70" height="70" src="img/instagram.png" /></a>
                    }
                </center>
            </div>

        </div><!-- tab-content -->

    </div> <!-- /form -->
    <script src='js/jquery.min.js'></script>
    <script src="js/index.js"></script>
</body>
</html>
