@model Netotik.ViewModels.CMS.IndexSection.IndexSectionModel
@{
    ViewBag.Title = Captions.EditIndexSectoin;
}
<section class="flexbox-container">
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm(MVC.Admin.IndexSection.ActionNames.Edit, MVC.Admin.IndexSection.Name, FormMethod.Post,
     htmlAttributes: new { @class = "form-horizontal", id = "form" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.AntiForgeryToken()
                <div class="card">
                    <div class="card-header">
                        <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" class="btn btn-social width-100 btn-instagram" onclick="AjaxForm.Post(this, 'form')" data-loading-text="در حال ارسال اطلاعات">
                            <span class="icon-checkmark2 font-medium-4"></span>
                            @Netotik.Resources.Captions.Save
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-file-text2"></i> @Captions.Content </h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Title)
                                                <div class="position-relative">
                                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Title, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Html)
                                                <div class="position-relative">
                                                    @Html.TextAreaFor(m => m.Html, new { @class = "summernote", cols = "20" })
                                                    @Html.ValidationMessageFor(model => model.Html, "", htmlAttributes: new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-block">
                                    <h4 class="form-section"><i class="icon-language"></i>@Captions.Language</h4>
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.DropDownListFor(model => model.LanguageId, ViewBag.Languages as SelectList, "", new { @class = "selectize-select" })
                                                @Html.ValidationMessageFor(model => model.LanguageId, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
