<section id="configuration">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <a href="@Url.Action(MVC.Admin.IndexSection.Create())" class="btn btn-social width-150 btn-instagram"><span class="icon-plus font-medium-4"></span> @Captions.NewIndexSectoin</a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        @Html.Partial(MVC.Admin.IndexSection.Views._Table)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





@section DownScript{

    <script type="text/javascript">
        $(function () {
            var table = $('#grid').dataTable({
                "order": [[1, 'asc']],
                "iDisplayLength": 10,
                "bProcessing": true,
                "bStateSave": true,
                "bServerSide": true,
                "bFilter": true,
                "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "bAutoWidth": false,
                "sAjaxSource": "@Url.Action(MVC.Admin.IndexSection.GetList())",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": aoData,
                        "success": fnCallback
                    });
                },

                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [-1] },
                    {
                        "targets": -1,
                        "render": function (data, type, full, meta) {
                            return '<span class="dropdown">'
                                + '<button id="btnSearchDrop2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-outline-secondary dropdown-toggle dropdown-menu-right">'
                                + '<i class="icon-cog3"></i> '+'@Captions.Action'+'</button>'
                                + '<span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right">'
                                + '<a href="'+'@Url.Action(MVC.Admin.IndexSection.Edit())'+'/'+ full.Id + '" class="edit dropdown-item">'
                                + '<i class="icon-pen3"></i> '+'@Captions.Edit'+' </a>'
                                + '<a onclick="remove(' + full.Id + ');" class="dropdown-item">'
                                + '<i class="icon-trash4"></i> '+'@Captions.Remove'+' </a>';

                        }
                    },
                    {
                        "targets": 1,
                        "render": function (data, type, full, meta) {
                            return '<img src="/Content/images/flags/' + full.FlagLanguage + '" class="thumbnail"> ' + full.Title;
                        }
                    },
                ],
                "aoColumns": [
                    { "mDataProp": "RowNumber" },
                    { "mDataProp": "Language" },
                    { "mDataProp": "Order" },
                    { "no": "no" }
                ]
            });
        });


            function remove(id) {
                PostData("@Url.Action(MVC.Admin.IndexSection.Remove())", { id: id });
            }

    </script>
}

