@model Netotik.ViewModels.Support.Issue.IssueTrackModel
@{
    Layout = null;
}


@using (Html.BeginForm(MVC.Admin.Issue.ActionNames.IssueTrack, MVC.Admin.Issue.Name, FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "form-send" }))
{
    @Html.HiddenFor(model=>model.IssueId)
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ارسال پیام</h5>

                </div>
                <div class="ibox-content no-padding" style="min-height:400px;">
                    @Html.EditorFor(model=>model.Description)
                </div>

                <div class="ibox-footer">
                    <button name="actionType" value="@Netotik.Common.Controller.ActionType.Save" class="btn btn-outline btn-primary" onclick="AjaxForm.Post(this, 'form-send')" data-loading-text="در حال ارسال پیام">
                        <span class="fa fa-check"></span>
                        ارسال
                    </button>
                    @Html.ValidationSummary(false)
                </div>
            </div>
        </div>
    </div>
}
