@model List<Netotik.Domain.Entity.ProductComment>
@{
    Layout = null;
}
@if (Model.Any())
{

    <div class="panel-box">
        <!-- Title Post -->
        <div class="titles">
            <h4>نظرات</h4>
        </div>
        <section class="comment-list">
            @foreach (var item in Model)
            {

                <article class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <figure class="thumbnail">
                            @if (item.UserId.HasValue)
                            {
                                <img class="img-responsive" src="@Url.Content((item.User.PictureId.HasValue ? Path.Combine(_imagesUserAvatarsPath, item.User.Picture.FileName) : "/Content/img/profile.png"))?w=230&h=230,mode=crop" />
                                <figcaption class="text-center">@item.User.FirstName @item.User.LastName </figcaption>
                            }
                            else
                            {
                                <img class="img-responsive" src="@Url.Content("/Content/img/profile.png")?w=230&h=230,mode=crop" />
                                <figcaption class="text-center">@item.Name </figcaption>
                            }
                        </figure>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="panel panel-default arrow left">
                            <div class="panel-body">
                                <header class="text-right" style="background-color:#dedede">
                                    @*<div class="comment-user"><i class="fa fa-user"></i> That Guy</div>*@
                                    <time class="comment-date" datetime="">@item.CreateDate.Calculate() , @PersianDate.ConvertDate.ToFa(item.CreateDate, "D") </time>
                                    <time class="comment-date"><i class="fa fa-clock-o"></i> @item.CreateDate.ToShortTimeString() </time>
                                </header>
                                <div class="alert">
                                        @item.CommentText
                                </div>
                                @*<p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> پاسخ</a></p>*@
                            </div>
                        </div>
                    </div>
                </article>
            }
        </section>

    </div>
}