@using CaptchaMvc.HtmlHelpers
@using Netotik.Common.Helpers
@using Netotik.ViewModels.Identity.UserRouter
@model LoginModel
@{
    ViewBag.Title = ViewBag.RouterName +Captions.LoginToUserAccount;
    Layout = MVC.Shared.Views._Layout;
}
<section class="flexbox-container">
    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-3 p-0">
        <div class="card border-grey border-lighten-3 m-0">
            <div class="card-body collapse in">
                <center>
                    <div class="card-body">
                        <div class="card-profile-image" style="margin-top:5px !important;">
                            <img src="@Url.Content(Path.Combine(Netotik.Common.Controller.FilePathes._imagesUserAvatarsPath, ViewBag.user.PictureId!=null ? ViewBag.user.Picture.FileName : "Default.png"))?h=100" alt="@ViewBag.RouterName">
                        </div>
                        <div class="profile-card-with-cover-content text-xs-center">
                            <div class="profile-details mt-2">
                                <h4 class="card-title">@ViewBag.RouterName</h4>
                            </div>
                        </div>
                    </div>
                </center>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-icon-left alert-danger alert-dismissible fade in mb-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>@Captions.MissionFail</strong> @ViewBag.Message
                    </div>
                    if (ViewBag.Link != null)
                    {
                        <div class="card-block">
                            <a class="btn btn-outline-primary btn-block" href="@Url.Action(MVC.Account.ReceiveActivatorEmail())"><i class="icon-checkmark2"></i> @Captions.ActivationAccount </a>
                        </div>
                        <div class="ui-separator">

                        </div>
                    }

                }
                <div class="card-block">
                    @using (Html.BeginForm(MVC.Login.ActionNames.Router, MVC.Login.Name, new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginForm", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group has-feedback has-icon-left">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Captions.UserName })
                            <div class="form-control-position">
                                <i class="icon-head"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-icon-left">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Captions.Password })
                            <div class="form-control-position">
                                <i class="icon-key3"></i>
                            </div>
                        </div>
                        <fieldset class="form-group row">
                            <div class="col-md-6 col-xs-12 text-xs-center">
                                <fieldset>
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "chk-remember" })
                                    @Html.LabelFor(m=>m.RememberMe, new { @class = "control-label" })
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-xs-12 float-sm-left text-xs-center"><a href="@Url.Action(MVC.Account.ForgotPassword())" class="card-link"> @Captions.ForgetIt</a></div>
                        </fieldset>
                        <button type="submit" class="btn btn-outline-primary btn-block"><i class="icon-unlock2"></i> @Captions.Login</button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


