@{
    var user = Html.CurrentUser();
    Layout = null;
}

@using (Html.BeginForm(MVC.Admin.Home.ActionNames.changeImageProfile, MVC.Admin.Home.Name, FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", enctype = "multipart/form-data", id = "imageProfile" }))
{
    @Html.AntiForgeryToken()
    <div class="card profile-card-with-cover">
        <div class="card-body">
            <div class="card-img-top img-fluid bg-cover height-200" style="background: url('/Content/images/backgrounds/bg-12.jpg') 0 40%;"></div>
            <div class="card-profile-image">
                <img src="@Url.Content(Path.Combine(Netotik.Common.Controller.FilePathes._imagesUserAvatarsPath, user.PictureId.HasValue ? user.Picture.FileName : "Default.png"))?w=120&h=120" class="rounded-circle img-border box-shadow-1" alt="@user.FirstName @user.LastName">
            </div>
            <div class="profile-card-with-cover-content text-xs-center">
                <div class="profile-details mt-2">
                    <h4 class="card-title">@user.FirstName @user.LastName</h4>
                </div>
                <div class="card-block">
                    <fieldset class="form-group">
                        <div class="input-group">
                            <input type="file" id="image" name="image" required class="form-control">
                            <span class="input-group-btn">
                                <button class="btn-lg btn btn-outline-teal get-image-data-btn" type="submit">ارسال تصویر</button>
                            </span>
                        </div>
                        <br />
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
}

