@{
    var setting = ViewBag.siteConfig as Netotik.ViewModels.Common.Setting.GeneralSettingModel;
}

<p>
    <span class="block"><strong><i class="fa fa-map-marker"></i> @Captions.Address :</strong> @setting.CompanyAddress </span>
    <span class="block">
        <strong><i class="fa fa-phone"></i> @Captions.Tel :</strong> <a href="tel:@setting.CompanyTel1">
            @setting.CompanyTel1
        </a>
        @if (!string.IsNullOrWhiteSpace(setting.CompanyTel2))
            {
            <a href="tel:@setting.CompanyTel2">
                <text>-</text> @setting.CompanyTel2
            </a>
        }


    </span>
    <span class="block"><strong><i class="fa fa-envelope"></i> @Captions.Email :</strong> <a href="mailto:@setting.CompanyEmail1"> @setting.CompanyEmail1</a></span>
</p>

<hr />

<div class="margin-top-30 text-center">
    @if (!string.IsNullOrEmpty(setting.Facebook))
    {
        <a target="_blank" href="@setting.Facebook" class="social-icon social-icon-sm social-icon-border social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">

            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
        </a>
    }
    @if (!string.IsNullOrEmpty(setting.Twitter))
    {

        <a target="_blank" href="@setting.Twitter" class="social-icon social-icon-sm social-icon-border social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
        </a>
    }
    @if (!string.IsNullOrEmpty(setting.GooglePlus))
    {
        <a target="_blank" href="@setting.GooglePlus" class="social-icon social-icon-sm social-icon-border social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
            <i class="icon-gplus"></i>
            <i class="icon-gplus"></i>
        </a>
    }
    @if (!string.IsNullOrEmpty(setting.Instagram))
    {
        <a target="_blank" href="@setting.Instagram" class="social-icon social-icon-sm social-icon-border social-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
            <i class="icon-instagram"></i>
            <i class="icon-instagram"></i>
        </a>
    }

</div>
