@using CaptchaMvc.HtmlHelpers
@model Netotik.ViewModels.Common.ContactUs.MessageModel


<section class="page-header page-header-md parallax parallax-3" style="background-image:url('../../Content/PublicUI/images/backgrounds/blue.jpg')">
    <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>
    <div class="container">
        <h1>@Captions.ContactUs</h1>
        <span class="font-lato size-18 weight-300">مشاوران ما بهترین پیشنهادات را به شما می دهند</span>
    </div>
</section>

<!-- /PAGE HEADER -->
<!-- -->
<section>
    <div class="container">
        
        <div class="row">

            <!-- FORM -->
            <div class="col-md-9 col-sm-9">

                @*@if (result != null)
                {
                    if (result.Color == MessageColor.Success)
                    {
                        <div class="alert alert-success margin-bottom-30">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong> با تشکر </strong> پیام شما با موفقیت ارسال شد.
                        </div>
                    }

                    if (result.Color == MessageColor.Danger)
                    {
                        <div class="alert alert-danger margin-bottom-30">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            متاسفانه خطایی رخ داده است، لطفا تماس بگیرید.
                        </div>
                    }
                }*@

                @using (Html.BeginForm(MVC.ContactUs.ActionNames.Index, MVC.ContactUs.Name, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <fieldset>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="contact:name">@Captions.Name *</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <label for="contact:email">@Captions.Email *</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <label for="contact:phone">@Captions.MobileNumber</label>
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="contact:message">@Captions.MessageText *</label>
                                    @Html.TextAreaFor(model => model.Text, new { @class = "form-control", maxlength = "10000", rows = "8" })
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.MathCaptcha(MVC.Shared.Views._CaptchaPartial)
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @Captions.Send</button>
                        </div>

                    </div>
                }

            </div>
            <!-- /FORM -->
            <!-- INFO -->
            <div class="col-md-3 col-sm-3">
                @Html.Partial(MVC.ContactUs.Views._SideBar, (Netotik.ViewModels.Common.Setting.GeneralSettingModel)ViewBag.siteConfig)
            </div>
        </div>

    </div>
</section>

