@model Netotik.ViewModels.Identity.Account.ForgotPasswordViewModel
@{
    Layout = MVC.Shared.Views._Layout;
}

<section class="flexbox-container">
    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-3 p-0">
        <div class="card border-grey border-lighten-3 m-0">
            <div class="card-header no-border pb-0">
                <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2">
                    <span>
                        @Captions.WillSendForgetPasswrordMessage
                    </span>
                </h6>
            </div>

            <div class="card-body collapse in">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-icon-left alert-info alert-dismissible fade in mb-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>@Captions.Sended</strong> @ViewBag.Message
                    </div>
                }


                <div class="card-block">
                    @using (Html.BeginForm(MVC.Account.ActionNames.ForgotPassword, MVC.Account.Name, new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group has-feedback has-icon">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your Email", dir = "ltr" })
                            <div class="form-control-position">
                                <i class="icon-mail2"></i>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block"><i class="icon-check2"></i> @Captions.SubmitRequest</button>
                    }
                </div>
            </div>

            <div class="card-footer no-border">
                <p class="float-sm-left text-xs-center"><a href="@Url.Action(MVC.Account.Login())" class="card-link">@Captions.LoginToSystem</a></p>
                <p class="float-sm-right text-xs-center"><a href="@Url.Action(MVC.Register.Reseller())" class="card-link">@Captions.Register</a></p>
            </div>
        </div>

    </div>
</section>
