@{
    ViewBag.Title = "مشخصات روتر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">مدل روتر</span>
                                <span class="font-large-2 line-height-1 text-bold-300">
                                    @if (ViewBag.router_model == "")
                                    { <span>روتر نمی باشد</span> }
                                    else
                                    { @ViewBag.router_model }
                                </span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block"></span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">نام دستگاه</span>
                                <span class="font-large-2 line-height-1 text-bold-300">@ViewBag.RouterName</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block"></span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">ورژن لایسنس</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@ViewBag.nlevel</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-2 block"><a href="https://wiki.mikrotik.com/wiki/Manual:License">اطلاعات بیشتر</a></span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">سریال نرم افزاری</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@ViewBag.software_id</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">ساعت روتر</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@ViewBag.router_time</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block">ساعت روتر با سرور یکی است.(پیاده نشده)</span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">تاریخ روتر</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@ViewBag.router_date</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block">تاریخ روتر با سرور یکی است.(پیاده نشده)</span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">UP Time</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@ViewBag.uptime</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-2 block"></span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">ورژن سیستم عامل</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@ViewBag.version</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block">
                                    @if (ViewBag.update_status == "System is already up to date")
                                    {
                                        <a href="@Url.Action(MVC.Company.Router.ActionNames.Info_Update)">  بروزرسانی به @ViewBag.latest_version  </a>
                                    }
                                    else
                                    { <span class="fa fa-check"> آخرین بروزرسانی ها نصب می باشد  </span>}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12 border-right-blue-grey border-right-lighten-5">
                        <div class="my-1 text-xs-center">
                            <div class="card-header mb-2 pt-0">
                                <span class="info">RAM</span>
                                <h3 class="font-large-2 text-bold-200">@(Int32.Parse(ViewBag.total_memory) / 1048576)MB</h3>
                            </div>
                            <div class="card-body">
                                <input type="text" class="knob-ram hide-value responsive angle-offset" data-readOnly="true" data-thickness=".25" data-fgColor="#00BCD4">
                                <ul class="list-inline clearfix mt-1 mb-0">
                                    <li class="border-right-grey border-right-lighten-2 pr-2">
                                        <h2 class="grey darken-1 text-bold-400">@(Int32.Parse(ViewBag.total_memory) / 1048576 - Int32.Parse(ViewBag.free_memory) / 1048576)MB</h2>
                                        <span class="danger">استفاده شده</span>
                                    </li>
                                    <li class="pl-2">
                                        <h2 class="grey darken-1 text-bold-400">@(Int32.Parse(ViewBag.free_memory) / 1048576)MB</h2>
                                        <span class="success">آزاد</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 border-right-blue-grey border-right-lighten-5">
                        <div class="my-1 text-xs-center">
                            <div class="card-header mb-2 pt-0">
                                <span class="info">CPU</span>
                                <h3 class="font-large-2 text-bold-200">@ViewBag.cpu_frequency Mhz</h3>
                            </div>
                            <div class="card-body">
                                <input type="text" class="knob-cpu responsive angle-offset" data-readOnly="true" data-thickness=".25" data-fgColor="#00BCD4">
                                <ul class="list-inline clearfix mt-1 mb-0">
                                    <li class="pl-2">
                                        <h2 class="grey darken-1 text-bold-400">@ViewBag.cpu</h2>
                                        <span class="success">ساختار</span>
                                    </li>
                                    <li class="pl-2">
                                        <h2 class="grey darken-1 text-bold-400">@ViewBag.cpu_count</h2>
                                        <span class="success">تعداد هسته</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 border-right-blue-grey border-right-lighten-5">
                        <div class="my-1 text-xs-center">
                            <div class="card-header mb-2 pt-0">
                                <span class="info">HDD</span>
                                <h3 class="font-large-2 text-bold-200">@(Int32.Parse(ViewBag.total_hdd_space) / 1048576)MB</h3>
                            </div>
                            <div class="card-body">
                                <input type="text" class="knob-hdd hide-value responsive angle-offset" data-readOnly="true" data-thickness=".25" data-fgColor="#00BCD4">
                                <ul class="list-inline clearfix mt-1 mb-0">
                                    <li class="border-right-grey border-right-lighten-2 pr-2">
                                        <h2 class="grey darken-1 text-bold-400">@((Int32.Parse(ViewBag.total_hdd_space) / 1048576) - (Int32.Parse(ViewBag.free_hdd_space) / 1048576))MB</h2>
                                        <span class="danger">استفاده شده</span>
                                    </li>
                                    <li class="pl-2">
                                        <h2 class="grey darken-1 text-bold-400">@(Int32.Parse(ViewBag.free_hdd_space) / 1048576)MB</h2>
                                        <span class="success">آزاد</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section DownScript{
    <script src="~/Content/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".knob-cpu")
                .val(@(ViewBag.cpu_load))
                .knob();
            $(".knob-hdd")
                .val(@((((Int32.Parse(ViewBag.total_hdd_space) / 1048576) - (Int32.Parse(ViewBag.free_hdd_space) / 1048576)) * 100)/ (Int32.Parse(ViewBag.total_hdd_space) / 1048576)))
                .knob();
            $(".knob-ram")
                    .val(@((((Int32.Parse(ViewBag.total_memory) / 1048576) - (Int32.Parse(ViewBag.free_memory) / 1048576)) * 100)/ (Int32.Parse(ViewBag.total_memory) / 1048576)))
                    .knob();
        });
    </script>
}