@model Netotik.ViewModels.Mikrotik.Router_InfoModel
@using Netotik.Resources;
@{
    ViewBag.Title = Captions.RouterInformation;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">@Captions.RouterModel</span>
                                <span class="font-large-2 line-height-1 text-bold-300">
                                    @if (Model.Router_model == "")
                                    { <span>@Captions.NotDetect</span> }
                                    else
                                    { @Html.DisplayTextFor(model => model.Router_model) }
                                </span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block"></span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">@Captions.DeviceName</span>
                                <span class="font-large-2 line-height-1 text-bold-300">@Html.DisplayTextFor(model => model.RouterName)</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block"></span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">@Captions.LicenseVersion</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@Html.DisplayTextFor(model => model.nlevel)</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-2 block"><a href="https://wiki.mikrotik.com/wiki/Manual:License" target="_blank">@Captions.MoreInfo</a></span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">@Captions.SoftwareSerial</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@Html.DisplayTextFor(model => model.Software_id)</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">@Captions.RouterTime</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@Html.DisplayTextFor(model => model.Router_time)</span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix" >
                            <div class="float-xs-left pl-2" >
                                <span class="grey darken-1 block">@Captions.RouterDate</span>
                                <span class="font-large-1 line-height-1 text-bold-300" data-toggle="tooltip" data-original-title="<b>@ViewBag.Router_date</b>" data-html="true">@Html.DisplayTextFor(model => model.Router_date)</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                @if (Model.Router_date == ViewBag.Server_Date)
                                {
                                    <span class="grey darken-1 block">@Captions.RouterAndServerDateEqual</span>
                                }
                                else
                                {
                                    <span class="grey darken-1 block" data-toggle="tooltip" data-original-title="<b>@ViewBag.Router_dateT</b>" data-html="true">@Captions.ServerDate @ViewBag.Server_Date</span>
                                }
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">@Captions.UpTime</span>
                                <span class="line-height-1 text-bold-300">@Html.DisplayTextFor(model => model.Uptime)</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-2 block"></span>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">@Captions.RouterOSVersion</span>
                                <span class="font-large-1 line-height-1 text-bold-300">@Html.DisplayTextFor(model => model.Version)</span>
                            </div>
                            <div class="float-xs-left mt-2">
                                <span class="grey darken-1 block">
                                    @if (Model.Update_status.Contains("New"))
                                    {
                                        <span class="fa fa-toggle-up">
                                            <a href="@Url.Action(MVC.Company.Router.ActionNames.UpdateRouter)">
                                                @Captions.UpdateTo
                                                @Model.Latest_version
                                            </a>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-check">
                                            @Captions.UpdateIsInstall <a href="@Url.Action(MVC.Company.Router.ActionNames.UpdateRouterCheck)">@Captions.CheckIt</a>
                                        </span>
                                    }
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12 border-right-blue-grey border-right-lighten-5">
                        <div class="my-1 text-xs-center">
                            <div class="card-header mb-2 pt-0">
                                <span class="info">RAM</span>
                                <h3 class="font-large-2 text-bold-200">@Html.DisplayTextFor(model => model.Total_memory) MB</h3>
                            </div>
                            <div class="card-body">
                                <input type="text" class="knob-ram hide-value responsive angle-offset" data-readOnly="true" data-thickness=".25" data-fgColor="#00BCD4">
                                <ul class="list-inline clearfix mt-1 mb-0">
                                    <li class="border-right-grey border-right-lighten-2 pr-2">
                                        <h2 class="grey darken-1 text-bold-400">@ViewBag.UsedMemory MB</h2>
                                        <span class="danger">@Captions.Used</span>
                                    </li>
                                    <li class="pl-2">
                                        <h2 class="grey darken-1 text-bold-400">@Html.DisplayTextFor(model => model.Free_memory) MB</h2>
                                        <span class="success">@Captions.Free</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 border-right-blue-grey border-right-lighten-5">
                        <div class="my-1 text-xs-center">
                            <div class="card-header mb-2 pt-0">
                                <span class="info">CPU</span>
                                <h3 class="font-large-2 text-bold-200">@Html.DisplayTextFor(model => model.Cpu_frequency) Mhz</h3>
                            </div>
                            <div class="card-body">
                                <input type="text" class="knob-cpu responsive angle-offset" data-readOnly="true" data-thickness=".25" data-fgColor="#00BCD4">
                                <ul class="list-inline clearfix mt-1 mb-0">
                                    <li class="pl-2">
                                        <h2 class="grey darken-1 text-bold-400">@Html.DisplayTextFor(model => model.Cpu)</h2>
                                        <span class="success">@Captions.Structure</span>
                                    </li>
                                    <li class="pl-2">
                                        <h2 class="grey darken-1 text-bold-400">@Html.DisplayTextFor(model => model.Cpu_count)</h2>
                                        <span class="success">@Captions.CoreCount</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 border-right-blue-grey border-right-lighten-5">
                        <div class="my-1 text-xs-center">
                            <div class="card-header mb-2 pt-0">
                                <span class="info">HDD</span>
                                <h3 class="font-large-2 text-bold-200">@Html.DisplayTextFor(model => model.Total_hdd_space) MB</h3>
                            </div>
                            <div class="card-body">
                                <input type="text" class="knob-hdd hide-value responsive angle-offset" data-readOnly="true" data-thickness=".25" data-fgColor="#00BCD4">
                                <ul class="list-inline clearfix mt-1 mb-0">
                                    <li class="border-right-grey border-right-lighten-2 pr-2">
                                        <h2 class="grey darken-1 text-bold-400">@ViewBag.UsedHDD MB</h2>
                                        <span class="danger">@Captions.Used</span>
                                    </li>
                                    <li class="pl-2">
                                        <h2 class="grey darken-1 text-bold-400">@Html.DisplayTextFor(model => model.Free_hdd_space) MB</h2>
                                        <span class="success">@Captions.Free</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section DownScript{
    <script src="~/Content/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".knob-cpu")
                .val(@Html.DisplayTextFor(model => model.Cpu_load))
                .knob();
            $(".knob-hdd")
                .val(@ViewBag.UsedHDDPercent)
                .knob();
            $(".knob-ram")
                    .val(@ViewBag.UsedMemoryPercent)
                    .knob();
        });
    </script>
}