@using DNTBreadCrumb
@{
    var homeUrl = Url.Action("Index", "Home", new { lang = ViewContext.RouteData.Values["lang"].ToString() });
    string homePage = Captions.Dashboard;

    var breadCrumbs = this.Context.Items[BreadCrumbExtentions.CurrentBreadCrumbKey] as List<BreadCrumb>;
    var currentFullUrl = this.Request.Url.ToString();
    var currentRouteUrl = Url.RouteUrl(this.ViewContext.RouteData.Values);
    var isCurrentPageHomeUrl = homeUrl.Equals(currentFullUrl, StringComparison.OrdinalIgnoreCase) ||
                               homeUrl.Equals(currentRouteUrl, StringComparison.OrdinalIgnoreCase);
}



@if (breadCrumbs != null && breadCrumbs.Any())
{

    <div class="content-header col-md-12 col-xs-12">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    @if (isCurrentPageHomeUrl)
                    {
                        <li class="breadcrumb-item active">
                            <i class="icon-home3"></i>
                            @homePage
                        </li>
                    }
                    else
                    {
                        <li class="breadcrumb-item">
                            <a href="@homeUrl">
                                <i class="icon-home3"></i>
                                @homePage
                            </a>
                        </li>
                    }

                    @foreach (var node in breadCrumbs.OrderBy(x => x.Order))
                    {
                        if (node.Url.Equals(homeUrl, StringComparison.OrdinalIgnoreCase))
                        {
                            continue;
                        }

                        if (node.Url.Equals(currentFullUrl, StringComparison.OrdinalIgnoreCase) ||
                            node.Url.Equals(currentRouteUrl, StringComparison.OrdinalIgnoreCase))
                        {
                            <li class="breadcrumb-item active">
                                @if (!string.IsNullOrWhiteSpace(node.GlyphIcon))
                                {
                                    <span class="@node.GlyphIcon"></span>
                                }
                                @Captions.GetName(node.Title)
                            </li>
                        }
                        else
                        {
                            <li class="breadcrumb-item">
                                <a href="@node.Url">
                                    @if (!string.IsNullOrWhiteSpace(node.GlyphIcon))
                                    {
                                        <i class="@node.GlyphIcon"></i>
                                    }
                                    @Captions.GetName(node.Title)
                                </a>
                            </li>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
}
