<!DOCTYPE html>
<html lang="fa">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>
        @Captions.Netotik | @ViewBag.Title
    </title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Images/Logo/faveicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Images/Logo/faveicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Images/Logo/faveicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/Logo/faveicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Images/Logo/faveicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Images/Logo/faveicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Images/Logo/faveicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Images/Logo/faveicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Images/Logo/faveicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Images/Logo/faveicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/Logo/faveicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Images/Logo/faveicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/Logo/faveicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Images/Logo/faveicon/manifest.json">
    <meta name="msapplication-TileColor" content="#397c79">
    <meta name="msapplication-TileImage" content="~/Content/Images/Logo/faveicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#397c79">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">


    @Styles.Render("~/Content/admincss")

    @Html.Action(MVC.Home.HeaderPanelCss())

    @RenderSection("UpScript", false)
</head>


<body data-open="hover" data-menu="horizontal-top-icon-menu" data-col="2-columns" class="horizontal-layout horizontal-top-icon-menu 2-columns ">

    @Html.Action(MVC.Home.AdminHeader())

    <div class="fullscreen-search-overlay"></div>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Action(MVC.Home.AdminMenu())
    }

    @if (Session["Client"] != null)
    {
        @Html.Action(MVC.Home.ClientMenu())
    }

    <div class="robust-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header">
                @Html.Partial(MVC.Shared.Views._BreadCrumb)
            </div>

            <div class="content-body">
                @Html.Partial(MVC.Shared.Views._Message)
                @RenderBody()
            </div>
        </div>
    </div>

    @if (!Request.Browser.IsMobileDevice)
    {
        <footer class="footer footer-dark navbar-fixed-bottom navbar-hide-on-scroll">
            <p class="clearfix text-muted text-sm-center mb-0 px-2">
                <span class="float-md-right d-xs-block d-md-inline-block">
                    Copyright  &copy; 2017 <a href="https://Dnma.ir" target="_blank" class="text-bold-800 grey darken-2">DNMA Groups </a>, All rights reserved
                </span>
            </p>
        </footer>
    }


    <script type="text/javascript">
    CKEDITOR_BASEPATH = "@Url.Content("~/Scripts/ckeditor/")";
    </script>

    @Scripts.Render("~/bundles/paneljs")
    @Scripts.Render("~/bundles/jqueryvalpanel")
    @Scripts.Render("~/bundles/SignalR")
    <script type="text/javascript" src="~/signalr/hubs"></script>


    @RenderSection("DownScript", false)

    @if (User.Identity.IsAuthenticated)
    {

        <script type="text/javascript">

            $(function () {
                $.connection.hub.logging = true;
                var onlineUsersHub = $.connection.onlineUsersHub;
                onlineUsersHub.client.updateUsersOnlineCount = function (count) {
                    $('#usersCount').text(count);
                    $('#usersCountt').text(count);
                };
                $.connection.hub.start();
            });

        </script>
    }
   
</body>
</html>