@using Netotik.ViewModels.Identity.Security
@{
    var Roles = Html.CurrentUserPermissions();


    var CmsMenu = Roles.Any(x => AssignableToRolePermissions.GetAllCmsSectionPermision().Any(y => y.Name == x));

    var CmsContentCategoryMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessContentCategory);
    var CmsContactUsMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessContactUs);
    var CmsContentsMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessContent);
    var CmsTagMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessTag);
    var CmsCommentsMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessComment);
    var CmsSliderMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessSlider);
    var CmsAdvertiseMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessAdvertise);
    //--------------------------------------------------------------------------
    var ShopMenu = Roles.Any(x => AssignableToRolePermissions.GetAllShopSectionPermision().Any(y => y.Name == x));

    var ShopCategoryMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessProductCategory);
    var ShopdeliveryDateMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessDeliveryDate);
    var ShopDiscountMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessDiscount);
    var ShopManufacturerMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessManufactur);
    var ShopPaymentTypeMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessPaymentType);
    var ShopProductMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessProduct);
    var ShopProductAttributeMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessProductAttribute);
    var ShopProductCommentsMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessProductComment);
    var ShopShippingMethodMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessShopShippingByMethod);
    var ShopTaxMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessTag);
    //--------------------------------------------------------------------------

    var FactorMenu = Roles.Any(x => AssignableToRolePermissions.GetAllFactorPermision().Any(y => y.Name == x));

    var SuccessOrderMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessSuccessOrder);
    var FailOrderMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessFailOrder);
    //-------------------------------------------------------------------------------

    var UserMenu = Roles.Any(x => AssignableToRolePermissions.GetAllUserPermision().Any(y => y.Name == x));

    var UserAccountMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessUser);
    var RoleMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessRole);
    var RolePermissionMenu = Roles.Any(x => x == AssignableToRolePermissions.CanViewAllPermissions);

    //-------------------------------------------------------------------------------

    var IssueMenu = Roles.Any(x => AssignableToRolePermissions.GetAllIssuePermision().Any(y => y.Name == x));

    var IssueListMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessTicket);
    var IssueLabelMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessTicketTag);
    //-------------------------------------------------------------------------------

    var ConfigurationMenu = Roles.Any(x => AssignableToRolePermissions.GetAllConfigurationPermision().Any(y => y.Name == x));

    var ConfigMenuMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessMenu);
    var ConfigPublicMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessPublicSetting);
    var ConfigLinksMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessLinks);
    var ConfigStateMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessState);
    var ConfigCityMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessCity);
    //----------------------------------------

    var AdminNetAccMenu = Roles.Any(X => X == AssignableToRolePermissions.CanAccessProduct);
    //-------------------------------------------------------------------------------
    var Reseller = Roles.Any(x => x == "Reseller");
    var Company = Roles.Any(x => x == "Company");
}


<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar navbar-horizontal navbar-light navbar-shadow navbar-without-dd-arrow navbar-fixed">
    <!-- Horizontal menu content-->
    <div data-menu="menu-container" class="navbar-container main-menu-content">
        <!-- include includes/mixins-->
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">

            @if (Roles.Any(x => x == AssignableToRolePermissions.CanViewAdminPanel))
            {
                <li class="nav-item">
                    <a href="@Url.Action(MVC.Admin.Home.Index())" class="nav-link"><i class="icon-home3"></i><span>داشبورد</span></a>
                </li>
            }


            @if (CmsMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-dashboard2"></i><span>محتوا </span></a>
                    <ul class="dropdown-menu">
                        @if (CmsContentCategoryMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ContentCategory.Index())" data-toggle="dropdown" class="dropdown-item">مدیرت موضوعات</a></li>}
                        @if (CmsContentsMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Content.Index())" data-toggle="dropdown" class="dropdown-item">مدیرت مطالب</a></li>}
                        @if (CmsTagMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ContentTag.Index())" data-toggle="dropdown" class="dropdown-item">مدیرت برچسب ها</a></li>}
                        @if (CmsSliderMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Slider.Index())" data-toggle="dropdown" class="dropdown-item">مدیریت اسلایدر</a></li>}
                        @if (CmsAdvertiseMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Advertise.Index())" data-toggle="dropdown" class="dropdown-item">مدیریت بنرها</a></li>}
                        @if (CmsCommentsMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Comments.Index())" data-toggle="dropdown" class="dropdown-item">مدیریت نظرات</a></li>}
                        @if (CmsContactUsMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ContactUs.Index())" data-toggle="dropdown" class="dropdown-item">پیام های تماس با ما</a></li>}
                    </ul>
                </li>
            }

            @if (ShopMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-cart4"></i><span>فروشگاه</span></a>
                    <ul class="dropdown-menu">
                        @if (ShopProductMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopProduct.Index())" data-toggle="dropdown" class="dropdown-item">محصولات</a></li>}
                        @if (ShopProductCommentsMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopProductComments.Index())" data-toggle="dropdown" class="dropdown-item">نظرات</a></li>}
                        @if (ShopManufacturerMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopManuFacturer.Index())" data-toggle="dropdown" class="dropdown-item">برند ها</a></li>}
                        @if (ShopCategoryMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopCategory.Index())" data-toggle="dropdown" class="dropdown-item">دسته بندی ها</a></li>}
                        @if (ShopDiscountMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopDiscount.Index())" data-toggle="dropdown" class="dropdown-item">تخفیف ها</a></li>}
                        @if (ShopdeliveryDateMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopDeliveryDate.Index())" data-toggle="dropdown" class="dropdown-item">مدت زمان های تحویل</a></li>}
                        @if (ShopShippingMethodMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopShippingMethod.Index())" data-toggle="dropdown" class="dropdown-item">نحوه ارسال ها</a></li>}
                        @if (ShopPaymentTypeMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopPaymentType.Index())" data-toggle="dropdown" class="dropdown-item">درگاه های پرداخت</a></li>}
                        @if (ShopTaxMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopTax.Index())" data-toggle="dropdown" class="dropdown-item">انواع مالیات</a></li>}
                        @if (ShopProductAttributeMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ShopProductAttribute.Index())" data-toggle="dropdown" class="dropdown-item">مشخصات محصولات</a></li>}

                    </ul>
                </li>
            }

            @if (FactorMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-pie_chart"></i><span>حسابداری</span></a>
                    <ul class="dropdown-menu">
                        @if (SuccessOrderMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Order.Index())" data-toggle="dropdown" class="dropdown-item">فاکتورهای پرداخت شده</a></li>
                        }
                        @if (FailOrderMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.OrderNotPayment.Index())" data-toggle="dropdown" class="dropdown-item">فاکتورها پرداخت نشده</a></li>
                        }
                    </ul>
                </li>
            }


            @if (IssueMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-bubbles2"></i><span>پشتیبانی</span></a>
                    <ul class="dropdown-menu">
                        @if (IssueListMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Ticket.Index())" data-toggle="dropdown" class="dropdown-item">لیست تیکت ها</a></li>}
                        @if (IssueLabelMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.TicketTag.Index())" data-toggle="dropdown" class="dropdown-item">برچسب ها</a></li>}
                    </ul>
                </li>
            }

            @if (UserMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-security"></i><span>مدیران و مجوزها</span></a>
                    <ul class="dropdown-menu">
                        @if (UserAccountMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.User.Index())" data-toggle="dropdown" class="dropdown-item">مدیرت کاربران</a></li>}
                        @if (RoleMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Role.Index())" data-toggle="dropdown" class="dropdown-item">مدیرت گروه ها</a></li>}
                    </ul>
                </li>
            }

            @if (AdminNetAccMenu)
            {
                <li class="nav-item">
                    <a href="@Url.Action(MVC.Admin.Reseller.Index())" class="nav-link"><i class="icon-user-tie"></i><span>نمایندگی ها</span> </a>
                </li>
            }

            @if (ConfigurationMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-cog"></i><span>تنظیمات</span></a>
                    <ul class="dropdown-menu">
                        @if (ConfigPublicMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Configuration.Index())" data-toggle="dropdown" class="dropdown-item">تنظیمات عمومی</a></li>}
                        @if (ConfigMenuMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Menu.Index())" data-toggle="dropdown" class="dropdown-item">مدیریت منو</a></li>}
                        @if (ConfigStateMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.State.Index())" data-toggle="dropdown" class="dropdown-item">مدیریت استان ها</a></li>}
                        @if (ConfigCityMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.City.Index())" data-toggle="dropdown" class="dropdown-item">مدیریت شهر ها</a></li>}
                    </ul>
                </li>

            }

        </ul>
    </div>
    <!-- /horizontal menu content-->
</div>
