@using Netotik.ViewModels.Identity.Security
@model IList<string>
@{
    var UserManager = Model.Any(x => AssignablePermissionToRouter.GetUserManagerPermision().Any(y => y.Name == x));
}
<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar navbar-horizontal navbar-light navbar-shadow navbar-without-dd-arrow navbar-fixed">
    <!-- Horizontal menu content-->
    <div data-menu="menu-container" class="navbar-container main-menu-content">
        <!-- include includes/mixins-->
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">

            <li class="nav-item">
                <a href="@Url.Action(MVC.MyRouter.Home.Index())" class="nav-link"><i class="icon-home3"></i><span>@Captions.Dashboard</span></a>
            </li>
            @if (UserManager)
            {
            <li data-menu="dropdown" class="dropdown nav-item">
                <a href="index.html" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-users2"></i><span>@Captions.UserManager</span> </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action(MVC.MyRouter.UserManager.UserList())" data-toggle="dropdown" class="dropdown-item">@Captions.UsersList</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.UserManager.PackageList())" data-toggle="dropdown" class="dropdown-item">@Captions.PlanList</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.UserManager.Online())" data-toggle="dropdown" class="dropdown-item">@Captions.OnlineUsers</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.UserManager.Register())" data-toggle="dropdown" class="dropdown-item">@Captions.Register</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.UserManager.Report())" data-toggle="dropdown" class="dropdown-item">@Captions.Reports</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.UserManager.ClientArea())" data-toggle="dropdown" class="dropdown-item">@Captions.UserPanel</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.UserManager.RegisterSetting())" data-toggle="dropdown" class="dropdown-item"> @Captions.RegisterSetting </a></li>
                </ul>
            </li>
            }
            <li data-menu="dropdown" class="dropdown nav-item">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-drive"></i><span>@Captions.Router</span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action(MVC.MyRouter.Router.Info())" data-toggle="dropdown" class="dropdown-item">@Captions.RouterInformation</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.Router.RouterSetting())" data-toggle="dropdown" class="dropdown-item">@Captions.Actions</a></li>
                    @if (false)
                    {
                        <li><a href="@Url.Action(MVC.MyRouter.Router.PPP())" data-toggle="dropdown" class="dropdown-item">PPP & Other </a></li>
                        <li><a href="@Url.Action(MVC.MyRouter.Router.Interfaces())" data-toggle="dropdown" class="dropdown-item">InterFaces</a></li>
                        <li><a href="@Url.Action(MVC.MyRouter.Router.Wireless())" data-toggle="dropdown" class="dropdown-item">Wireless</a></li>
                        <li><a href="@Url.Action(MVC.MyRouter.Router.Nat())" data-toggle="dropdown" class="dropdown-item">Nat</a></li>
                    }
                </ul>
            </li>
            <li data-menu="dropdown" class="dropdown nav-item">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-wifi"></i><span>@Captions.Hotspot</span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action(MVC.MyRouter.Hotspot.Access())" data-toggle="dropdown" class="dropdown-item">@Captions.Access</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.Hotspot.Active())" data-toggle="dropdown" class="dropdown-item">@Captions.Online</a></li>
                    @if (false)
                    {
                        <li><a href="@Url.Action(MVC.MyRouter.Hotspot.Template())" data-toggle="dropdown" class="dropdown-item">قالب های لاگین هات اسپات</a></li>
                        <li><a href="@Url.Action(MVC.MyRouter.Hotspot.Servers())" data-toggle="dropdown" class="dropdown-item">سرور ها</a></li>
                        <li><a href="@Url.Action(MVC.MyRouter.Hotspot.Users())" data-toggle="dropdown" class="dropdown-item">کاربران</a></li>
                    }
                </ul>
            </li>
            @if (false)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-code"></i><span>کانفیگ ها</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="dropdown" class="dropdown-item">لودبالانس</a></li>
                        <li><a href="#" data-toggle="dropdown" class="dropdown-item">محدودیت اینترنت</a></li>
                        <li><a href="#" data-toggle="dropdown" class="dropdown-item">راه اندازی</a></li>
                        <li><a href="#" data-toggle="dropdown" class="dropdown-item">درخواست کانفیگ</a></li>
                    </ul>
                </li>
            }
            <li data-menu="dropdown" class="dropdown nav-item">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-cog"></i><span>@Captions.Configuration</span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action(MVC.MyRouter.Home.MyProfile())" data-toggle="dropdown" class="dropdown-item">@Captions.Profile</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.Home.MikrotikConf())" data-toggle="dropdown" class="dropdown-item">@Captions.MikrotikConfig</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.Home.TelegramBot())" data-toggle="dropdown" class="dropdown-item">Telegram Bot</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.Home.Sms())" data-toggle="dropdown" class="dropdown-item">پیامک</a></li>
                    <li><a href="@Url.Action(MVC.MyRouter.Home.ChangePassword())" data-toggle="dropdown" class="dropdown-item">@Captions.ChangePassword</a></li>
                    @if (false)
                    {
                        <li><a href="@Url.Action(MVC.MyRouter.Home.MyProfile())" data-toggle="dropdown" class="dropdown-item">مالی</a></li>
                    }
                </ul>
            </li>

            @if (false)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-connection"></i><span>ردیوس</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action(MVC.MyRouter.Router.Info())" data-toggle="dropdown" class="dropdown-item">اطلاعات روتر</a></li>
                        <li><a href="@Url.Action(MVC.MyRouter.Router.PPP())" data-toggle="dropdown" class="dropdown-item">PPP & Other </a></li>
                        <li><a href="@Url.Action(MVC.MyRouter.Router.Interfaces())" data-toggle="dropdown" class="dropdown-item">InterFaces</a></li>
                        <li><a href="@Url.Action(MVC.MyRouter.Router.Wireless())" data-toggle="dropdown" class="dropdown-item">Wireless</a></li>
                    </ul>
                </li>
            }

        </ul>
    </div>
    <!-- /horizontal menu content-->
</div>

