@using Netotik.ViewModels.Identity.Security
@{
    var Roles = Html.CurrentUserPermissions();


    var CmsMenu = Roles.Any(x => AssignableToRolePermissions.GetAllCmsSectionPermision().Any(y => y.Name == x));

    var CmsContentCategoryMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessContentCategory);
    var CmsContactUsMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessContactUs);
    var CmsContentsMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessContent);
    var CmsTagMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessTag);
    var CmsCommentsMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessComment);
    var CmsSliderMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessSlider);
    var CmsIndexSectionMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessAdvertise);
    //--------------------------------------------------------------------------
    var ShopMenu = Roles.Any(x => AssignableToRolePermissions.GetAllShopSectionPermision().Any(y => y.Name == x));

    var ShopPaymentTypeMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessPaymentType);
    var SmsMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessSlider);
    //--------------------------------------------------------------------------

    var UserMenu = Roles.Any(x => AssignableToRolePermissions.GetAllUserPermision().Any(y => y.Name == x));

    var UserAccountMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessUser);
    var RoleMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessRole);
    var RolePermissionMenu = Roles.Any(x => x == AssignableToRolePermissions.CanViewAllPermissions);

    //-------------------------------------------------------------------------------

    var IssueMenu = Roles.Any(x => AssignableToRolePermissions.GetAllIssuePermision().Any(y => y.Name == x));

    var IssueListMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessTicket);
    var IssueLabelMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessTicketTag);


    //-------------------------------------------------------------------------------

    var AccountingMenu = Roles.Any(x => AssignableToRolePermissions.GetAllIssuePermision().Any(y => y.Name == x));

    var FactoresListMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessTicket);
    //-------------------------------------------------------------------------------


    var ConfigurationMenu = Roles.Any(x => AssignableToRolePermissions.GetAllConfigurationPermision().Any(y => y.Name == x));

    var ConfigMenuMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessMenu);
    var ConfigPublicMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessPublicSetting);
    var ConfigLinksMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessLinks);
    var ConfigStateMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessState);
    var ConfigCityMenu = Roles.Any(x => x == AssignableToRolePermissions.CanAccessCity);
    //----------------------------------------

    var AdminNetAccMenu = true;
}


<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar navbar-horizontal navbar-light navbar-shadow navbar-without-dd-arrow navbar-fixed">
    <!-- Horizontal menu content-->
    <div data-menu="menu-container" class="navbar-container main-menu-content">
        <!-- include includes/mixins-->
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">

            @if (Roles.Any(x => x == AssignableToRolePermissions.CanViewAdminPanel))
            {
                <li class="nav-item">
                    <a href="@Url.Action(MVC.Admin.Home.Index())" class="nav-link"><i class="icon-home3"></i><span>@Captions.Dashboard</span></a>
                </li>
            }


            @if (CmsMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-dashboard2"></i><span>@Captions.Content</span></a>
                    <ul class="dropdown-menu">
                        @if (CmsContentCategoryMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ContentCategory.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Subjects</a></li>}
                        @if (CmsContentsMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Content.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Contents</a></li>}
                        @if (CmsTagMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ContentTag.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Tags</a></li>}
                        @if (CmsSliderMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Slider.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Sliders</a></li>}
                        @if (ConfigMenuMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Menu.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Menues</a></li>}
                        @if (CmsIndexSectionMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.IndexSection.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.IndexSections</a></li>}
                        @if (CmsCommentsMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Comments.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Comments</a></li>}
                        @if (CmsContactUsMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.ContactUs.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.ContactUsMessages</a></li>}
                    </ul>
                </li>
            }


            @if (IssueMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-bubbles2"></i><span>@Captions.Support</span></a>
                    <ul class="dropdown-menu">
                        @if (IssueListMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Ticket.Index())" data-toggle="dropdown" class="dropdown-item">لیست تیکت ها</a></li>}
                        @if (IssueLabelMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.TicketTag.Index())" data-toggle="dropdown" class="dropdown-item">برچسب ها</a></li>}
                    </ul>
                </li>
            }

            @if (AccountingMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-coin-dollar"></i><span>{Accounting}</span></a>
                    <ul class="dropdown-menu">
                        @if (IssueListMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Factor.Index())" data-toggle="dropdown" class="dropdown-item">لیست فاکتورها</a></li>}
                    </ul>
                </li>
            }

            @if (UserMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-security"></i><span>@Captions.UsersRoles</span></a>
                    <ul class="dropdown-menu">
                        @if (UserAccountMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.UserAdmin.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Users</a></li>}
                        @if (RoleMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Role.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Roles</a></li>}
                    </ul>
                </li>
            }

            @if (AdminNetAccMenu)
            {
                <li class="nav-item">
                    <a href="@Url.Action(MVC.Admin.UserReseller.Index())" class="nav-link"><i class="icon-user-tie"></i><span>@Captions.Resellers</span> </a>
                </li>
            }

            @if (ConfigurationMenu)
            {
                <li data-menu="dropdown" class="dropdown nav-item">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-cog"></i><span>@Captions.Configuration</span></a>
                    <ul class="dropdown-menu">
                        @if (ConfigPublicMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Configuration.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.PublicConfig</a></li>}
                        @if (ConfigStateMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.State.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.States</a></li>}
                        @if (ConfigCityMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.City.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Cities</a></li>}
                        <li><a href="@Url.Action(MVC.Admin.Language.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.Languages</a></li>

                        @if (SmsMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.Sms.Index())" data-toggle="dropdown" class="dropdown-item">پنل پیامک</a></li>
                        }

                        @if (ShopPaymentTypeMenu)
                        {
                            <li><a href="@Url.Action(MVC.Admin.PaymentType.Index())" data-toggle="dropdown" class="dropdown-item">درگاه های پرداخت</a></li>
                        }
                    </ul>
                </li>

            }



            <li data-menu="dropdown" class="dropdown nav-item">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-trending_up"></i><span>@Captions.ViewStatistics</span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action(MVC.Admin.Statistics.Index())" data-toggle="dropdown" class="dropdown-item">@Captions.ViewAllStatistics</a></li>
                </ul>
            </li>

        </ul>
    </div>
    <!-- /horizontal menu content-->
</div>
