@model IList<Netotik.ViewModels.Identity.UserCompany.CompanyList>
    @{ 
        int counter = 1;
    }
<table class="table table-striped table-bordered table-hover" id="grid">
    <thead>
        <tr>
            <th>#</th>
            <th>@Netotik.Resources.Captions.FirstNameAndLastName</th>
            <th>@Netotik.Resources.Captions.Email</th>
            <th>@Netotik.Resources.Captions.UserName</th>
            <th>@Netotik.Resources.Captions.CompanyName</th>
            <th>@Netotik.Resources.Captions.MobileNumber</th>
            <th>@Netotik.Resources.Captions.Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>@(counter++)</td>
                <td>
                    <div class="media">
                        <div class="media-left">
                            <span class="avatar">
                                <img src="/Content/Upload/Image/Avatar/@item.ImageAvatar?w=100&h=100">
                            </span>
                        </div>
                        <div class="media-body media-middle">
                            <a href="#" class="media-heading">@item.FirstName  @item.LastName</a>
                        </div>
                    </div>
                </td>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>@item.CompanyCode</td>
                <td>@item.PhoneNumber</td>
                @if (!item.IsBanned)
                {
                <td>@Netotik.Resources.Captions.Enabled</td>
                }
                else
                {
                <td>@Netotik.Resources.Captions.Disabled</td>
                }
                <td>
                    <span class="dropdown">
                        <button id="btnSearchDrop2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-outline-secondary dropdown-toggle dropdown-menu-right"><i class="icon-cog3"></i>@Netotik.Resources.Captions.Action</button>
                        <span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right">
                            <a href="@Url.Action(MVC.Reseller.Company.ActionNames.Edit, new { id = item.Id })" class="dropdown-item"><i class="icon-pen3 primary"></i>@Captions.Edit</a>
                            <a href="@Url.Action(MVC.Reseller.Company.ActionNames.ChangePassword, new { id = item.Id })" class="dropdown-item"><i class="icon-key2 primary"></i>@Captions.ChangePassword</a>
                            <a href="@Url.Action(MVC.Reseller.Company.ActionNames.Remove, new { id = item.Id })" class="dropdown-item"><i class="icon-trash4 danger"></i>@Captions.Remove</a>
                            
                            @if (!item.IsBanned)
                            {
                                <a href="@Url.Action(MVC.Reseller.Company.ActionNames.Disable, new { id = item.Id })" class="dropdown-item"><i class="icon-stop-circle-o warning"></i>@Netotik.Resources.Captions.Disable</a>
                            }
                            else
                            {
                                <a href="@Url.Action(MVC.Reseller.Company.ActionNames.Enable, new { id = item.Id })" class="dropdown-item"><i class="icon-play-circle-o primary"></i>@Netotik.Resources.Captions.Enable</a>
                            }
                        </span>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
