@model IList<Netotik.ViewModels.Identity.UserCompany.CompanyList>
<table class="table table-striped table-bordered table-hover zero-configuration" id="grid">
    <thead>
        <tr>
            <th>#</th>
            <th>نام و نام خانوادگی</th>
            <th>آدرس ایمیل</th>
            <th>نام کاربری</th>
            <th>نام کمپانی</th>
            <th>شماره تماس</th>
            <th>وضعیت</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td></td>
                <td>
                    <div class="media">
                        <div class="media-left">
                            <span class="avatar">
                                <img src="/Content/Upload/Image/Avatar/' + full.ImageFileName + '?w=100&h=100">
                            </span>
                        </div>
                        <div class="media-body media-middle">
                            <a href="#" class="media-heading">@item.FirstName  @item.LastName</a>
                        </div>
                    </div>
                </td>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>@item.CompanyCode</td>
                <td>@item.PhoneNumber</td>
                @if (!item.IsBanned)
                {
                <td>فعال</td>
                }
                else
                {
                <td>غیرفعال</td>
                }
                <td>
                    <span class="dropdown">
                        <button id="btnSearchDrop2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-outline-secondary dropdown-toggle dropdown-menu-right"><i class="icon-cog3"></i> پردازش</button>
                        <span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="icon-pen3 primary"></i> ویرایش </a>
                            <a href="#" class="dropdown-item"><i class="icon-trash4 danger"></i> حذف </a>
                            
                            @if (!item.IsBanned)
                            {
                                <a href="@Url.Action(MVC.Reseller.Company.ActionNames.Disable, new { id = item.Id })" class="dropdown-item"><i class="icon-stop-circle-o warning"></i> غیرفعال </a>
                            }
                            else
                            {
                                <a href="@Url.Action(MVC.Reseller.Company.ActionNames.Enable, new { id = item.Id })" class="dropdown-item"><i class="icon-play-circle-o primary"></i> فعال </a>
                            }
                        </span>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
